---
layout: licenses
title: Licenses
headline: Licenses
bodyclass: licenses
type: markdown
---

<div class="licenses-container">
    <a class="collapsible-panel-title collapsed"
       repo="https://raw.githubusercontent.com/SpineEventEngine/base"
       repo-name="base"
       loaded="false"
       href="#md-destination-base"
       data-toggle="collapse"
       aria-expanded="false"
       aria-controls="md-destination">Dependencies of Spine Base</a>
    <div class="collapse license-content" id="md-destination-base">{% include loader.html %}</div>

    <a class="collapsible-panel-title collapsed"
       repo="https://raw.githubusercontent.com/SpineEventEngine/core-java"
       repo-name="core-java"
       loaded="false"
       href="#md-destination-core-java"
       data-toggle="collapse"
       aria-expanded="false"
       aria-controls="md-destination">Dependencies of Spine Core Java</a>
    <div class="collapse license-content" id="md-destination-core-java">{% include loader.html %}</div>
</div>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/js/os-licenses.js" type="text/javascript" charset="utf-8"></script>
