<!DOCTYPE html>
<html lang="en"
      itemscope itemtype="https://schema.org/WebPage"
      prefix="og: http://ogp.me/ns#">
{{ partial "head/head.html" . }}
{{ $bodyClass := partial "theme/functions/get-body-class.html" . }}
<body class="{{ $bodyClass }}">
    {{ partial "scripts/body/gtm.html" . }}
    <div class="wrapper">
        <div class="main">
            {{ block "main" . }}{{ end }}
        </div>
        <div class="footer">
            {{ partial "components/footer/footer.html" . }}
        </div>
    </div>
    {{ partial "scripts/body-scripts.html" . }}
</body>
</html>
