[submodule "config"]
	path = config
	url = https://github.com/SpineEventEngine/config
[submodule ".agents/shared"]
	path = .agents/shared
	url = https://github.com/SpineEventEngine/agents.git
	branch = master
	update = merge
	ignore = all
