[submodule "examples/examples-java"]
	path = examples/examples-java
	url = https://github.com/SpineEventEngine/examples-java
[submodule "examples/quick-start"]
	path = examples/quick-start
	url = https://github.com/SpineEventEngine/server-quickstart
[submodule "examples/todo-list"]
	path = examples/todo-list
	url = https://github.com/SpineEventEngine/todo-list
