title: Spine Event Engine
description: CQRS/ES framework for modern cloud applications

baseurl: ""

githuburl: https://github.com/SpineEventEngine/SpineEventEngine.github.io/
core_java_repo: https://github.com/SpineEventEngine/core-java
base_repo: https://github.com/SpineEventEngine/base
web_repo: https://github.com/SpineEventEngine/web
gcloud_java_repo: https://github.com/SpineEventEngine/gcloud-java
money_repo: https://github.com/SpineEventEngine/money
dart_repo: https://github.com/SpineEventEngine/dart
bootstrap_repo: https://github.com/SpineEventEngine/bootstrap
jdbc_storage_repo: https://github.com/SpineEventEngine/jdbc-storage
time_repo: https://github.com/SpineEventEngine/time

twitter_username: SpineEngine
github_username: SpineEventEngine
stackoverflow_username: Spine-Event-Engine

base_api_doc: https://spine.io/base-libraries/dokka-reference
core_api_doc: https://spine.io/core-jvm/dokka-reference
web_api_doc: https://spine.io/web/dokka-reference
js_api_doc: https://spine.io/web/reference/client-js
dart_api_doc: https://spine.io/dart/reference

google_tag_manager_id: GTM-T6NZS3S

# Gems
plugins:
  - jekyll-paginate
  - jekyll-email-protect

# Conversion
markdown: kramdown
highlighter: rouge
excerpt_separator: <!--more-->

sass:
  load_paths:
    - _sass
    - _docs/_sass
  style: compressed

# Outputting
paginate: 5
paginate_path: "/blog/page:num/"

kramdown:
  input: GFM
  hard_wrap: false
  parse_block_html: true

collections:
  docs:
    output: true
    permalink: /:path

exclude:
  - .github/
  - .idea/
  - .spine/
  - .saas-cache/
  - .gradle
  - config/
  - gradle
  - buildSrc
  - gradlew
  - gradlew.bat
  - build.gradle.kts
  - settings.gradle.kts
  - README.md
  - AUTHORING.md
  - TROUBLESHOOTING.md
  - Gemfile
  - Gemfile.lock
  - _docs/404.html
  - _docs/Gemfile
  - _docs/Gemfile.lock
  - _docs/index.html
  - _docs/LICENSE
  - _docs/README.md

embed_code:
  code_root: ./_code
  documentation_root: ./docs
  code_includes: ["**/*.proto", "**/*.java", "**/*.kt", "**/*.dart", "**/*.js", "**/*.html", "**/*.gradle", "**/*.gradle.kts"]
