<div id="cookie-notif-box">
    <div class="container">
        <div class="row">
            <div class="col-md-11 nofloat center-block">
                <div class="col-md-12 cookie-container">
                    <div class="content-text">
                        <p>spine.io uses cookies to store information. You can read more about it in our
                            <a href="#" class="privacy-link">Terms&nbsp;and&nbsp;Privacy</a>
                        </p>
                    </div>
                    <div class="content-btn">
                        <!--<a href="#" class="cookie-btn btn-bordered big-light">Agree</a>-->
                        <a href="#" id="cookieChoice" class="cookie-btn btn-filled">Agree</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
