<ul class="doc-side-nav">
    {% assign current = page.url | downcase | split: '/' %}
    <li><h5 class="doc-side-nav-title">Guides</h5></li>
    <li><a href="{{ site.baseurl }}/docs/guides/introduction.html" {% if current[3] == 'introduction.html' %}class='current'{% endif %}>Introduction</a></li>
    <li><a href="{{ site.baseurl }}/docs/guides/project-structure.html" {% if current[3] == 'project-structure.html' %}class='current'{% endif %}>Project Structure</a></li>
    <li><a href="{{ site.baseurl }}/docs/guides/naming-conventions.html" {% if current[3] == 'naming-conventions.html' %}class='current'{% endif %}>Naming Conventions</a></li>
    <li><a href="{{ site.baseurl }}/docs/guides/model-definition.html" {% if current[3] == 'model-definition.html' %}class='current'{% endif %}>Model Definition</a></li>
    <li><a href="{{ site.baseurl }}/docs/guides/validation-user-guide.html" {% if current[3] == 'validation-user-guide.html' %}class='current'{% endif %}>Validation User Guide</a></li>
    <li><a href="{{ site.baseurl }}/docs/guides/creating-rejection-messages.html" {% if current[3] == 'creating-rejection-messages.html' %}class='current'{% endif %}>Defining Rejections</a></li>
    <li><h6 class="doc-side-nav-title">Related Guides</h6></li>
    <li><a href="https://developers.google.com/protocol-buffers/docs/overview" target="_blank">Protocol Buffers</a></li>
    <li><a href="https://grpc.io/docs/guides/index.html" target="_blank">gRPC</a></li>
</ul>
