<div class="container-fluid content-holder nav-mobile-toggle">
    <div class="row">
        <div class="col-sm-12">
            <ul class="doc-nav">
                {% assign current = page.url | downcase | split: '/' %}
                <li class="tab"><a href="{{ site.baseurl }}/docs/" {% if page.path == 'docs/index.html' %}class='current'{% endif %}>Home</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/concepts/architecture-overview.html" {% if current[2] == 'concepts' %}class='current'{% endif %}>Concepts</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/quickstart/quick-start.html" {% if current[2] == 'quickstart' %}class='current'{% endif %}>Quick Start</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/guides/guides-introduction.html" {% if current[2] == 'guides' %}class='current'{% endif %}>Guides</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/tutorials" {% if current[2] == 'tutorials' %}class='current'{% endif %}>Tutorials</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/reference" {% if current[2] == 'reference' %}class='current'{% endif %}>Reference</a></li>
                <li class="tab"><a href="{{ site.baseurl }}/docs/examples" {% if current[2] == 'examples' %}class='current'{% endif %}>Examples</a></li>
            </ul>
        </div>
    </div>
</div>
