<ul class="doc-side-nav doc-side-nav-tutorial">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="doc-side-nav-title">Tutorials</li>
    <li><a id="side-nav-parent-item" href="{{ site.baseurl }}/docs/tutorials" {% if current[2] == 'tutorials' %}class='current'{% endif %}>Overview</a></li>
    <li>
        <ul id="doc-side-nav-inside">
            <li class="doc-side-nav-sub-title">Basic</li>
            <li><a href="{{ site.baseurl }}/docs/tutorials/basic/java.html" {% if current[4] == 'java.html' %}class='current'{% endif %}>Java</a></li>
            <li><a href="{{ site.baseurl }}/docs/tutorials/basic/javascript.html" {% if current[4] == 'javascript.html' %}class='current'{% endif %}>JavaScript</a></li>
            <li><a href="{{ site.baseurl }}/docs/tutorials/basic/cpp.html" {% if current[4] == 'cpp.html' %}class='current'{% endif %}>C++</a></li>
        </ul>
    </li>
</ul>
