<ul class="docs-side-nav sticky-element">
    <div class="navigation-title-on-mobile">
        <div class="close-btn-wrapper">
            <a class="close-btn">
                <i class="close-icon" aria-hidden="true"></i>
            </a>
        </div>
        <h2 class="title">{{ page.sidenav_list | capitalize }}</h2>
    </div>
    {% if site.data.navigation.doc_side_nav.doc_side_nav %}
        {% for item in site.data.navigation.doc_side_nav.doc_side_nav %}
            {% assign collapsedElId = item.page | slugify %}
            <li><a class="side-nav-link {% if item.url == page.url %}active{% endif %}"
                   href="{% if item.children %}#{{ collapsedElId }}{% else %}{{ item.url }}{% endif %}"
                   aria-expanded="false">
                {{ item.page }}
                </a>
                {% if item.children[0] %}
                <ul id="{{ collapsedElId }}" class="sub-nav collapse">
                    {% for entry in item.children %}
                    {% assign collapsedEntryId = entry.page | slugify %}
                    <li><a class="side-nav-link {% if entry.url == page.url %}active{% endif %}"
                           href="{% if entry.children %}#{{ collapsedEntryId }}{% else %}{{ entry.url }}{% endif %}">
                        {{ entry.page }}
                        </a>
                        {% if entry.children[0] %}
                        <ul id="{{ collapsedEntryId }}" class="sub-nav collapse">
                            {% for subentry in entry.children %}
                            <li><a class="side-nav-link {% if subentry.url == page.url %}active{% endif %}"
                                   href="{{ subentry.url }}">
                                {{ subentry.page }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
