<!--
  ~ Copyright 2020, TeamDev. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<!-- The `navigation_list` array contains all pages from the `_data/navigation/doc_side_nav.yml`
file that have internal URLs. All pages are in the right order. -->
{% assign navigation_list = "" | split: ',' %}
{% for item in site.data.navigation.doc_side_nav.doc_side_nav %}
    {% if item.url %}
        {% assign navigation_list = navigation_list | push: item %}
    {% endif %}
    {% if item.children[0] %}
        {% for entry in item.children %}
            {% if entry.url %}
                {% assign navigation_list = navigation_list | push: entry %}
            {% endif %}
            {% if entry.children[0] %}
                {% for subentry in entry.children %}
                    {% if subentry.url %}
                        {% if subentry.url contains '://' %}
                            {% else %}
                                {% assign navigation_list = navigation_list | push: subentry %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<div class="next-prev-nav">
    <ul>
        {% for nav_item in navigation_list %}
            {% if nav_item.url == page.url %}
                {% unless forloop.first %}
                    <li class="previous">
                        {% if page.prev_btn != false %}
                            {% if page.prev_btn %}
                                <a class="link-back" href="{% if page.prev_btn.url %}{{ page.prev_btn.url }}{% else %}{{ prev.url }}{% endif %}">
                                    {{ page.prev_btn.page }}
                                </a>
                            {% else %}
                                <a class="link-back" href="{{ prev.url }}">
                                    {{ prev.page }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endunless %}
                {% unless forloop.last %}
                    {% assign next = navigation_list[forloop.index] %}
                    <li class="next">
                        {% if page.next_btn != false %}
                            {% if page.next_btn %}
                                <a class="link-next" href="{% if page.next_btn.url %}{{ page.next_btn.url }}{% else %}{{ next.url }}{% endif %}">
                                    {{ page.next_btn.page }}
                                </a>
                            {% else %}
                                <a class="link-next" href="{{ next.url }}">
                                    {{ next.page }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endunless %}
            {% endif %}
            {% assign prev = nav_item %}
        {% endfor %}
    </ul>
</div>
