<ul class="doc-side-nav">
    {% assign current = page.url | downcase | split: '/' %}
    <li><h5 class="doc-side-nav-title">Guides</h5></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/guides/introduction.html" {% if current[3] == 'introduction.html' %}class='current'{% endif %}>Introduction</a></li>
    <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/guides/concepts.html" {% if current[3] == 'concepts.html' %}class='current'{% endif %}>Concepts</a></li>

    <li><h6 class="doc-side-nav-title">Related Guides</h6></li>
    <li class="doc-side-nav-list-item"><a href="https://developers.google.com/protocol-buffers/docs/overview">Protocol Buffers</a></li>
    <li class="doc-side-nav-list-item"><a href="https://grpc.io/docs/guides/index.html">gRPC</a></li>
</ul>
