<ul class="docs-side-nav sticky-element">
    <div class="navigation-title-on-mobile">
        <div class="close-btn-wrapper">
            <a class="close-btn">
                <i class="close-icon" aria-hidden="true"></i>
            </a>
        </div>
        <h2 class="title">{{ page.sidenav_list | capitalize }}</h2>
    </div>
    {% if site.data.navigation.doc_side_nav.doc_side_nav %}
        {% for item in site.data.navigation.doc_side_nav.doc_side_nav %}
            <li><a class="side-nav-link {% if item.url == page.url %}active{% endif %}"
                   href="{{ item.url }}"
                   aria-expanded="false">
                {{ item.page }}
                </a>
                {% if item.sub_nav[0] %}
                <ul id="{{ item.sub_nav_id }}" class="sub-nav collapse">
                    {% for entry in item.sub_nav %}
                    <li><a class="side-nav-link {% if entry.url == page.url %}active{% endif %}"
                           href="{{ entry.url }}">
                        {{ entry.page }}
                        </a>
                        {% if entry.sub_sub_nav[0] %}
                        <ul id="{{ entry.sub_sub_nav_id }}" class="sub-nav collapse">
                            {% for subentry in entry.sub_sub_nav %}
                            <li><a class="side-nav-link {% if subentry.url == page.url %}active{% endif %}"
                                   href="{{ subentry.url }}">
                                {{ subentry.page }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
