<ul class="doc-side-nav">
    {% assign current = page.url | downcase | split: '/' %}
    <li><h5 class="doc-side-nav-title">Concepts</h5></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/index.html" {% if current[3] == 'concepts.html' %}class='current'{% endif %}>Concepts</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/aggregate.html" {% if current[3] == 'aggregate.html' %}class='current'{% endif %}>Aggregate</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/bounded-context.html" {% if current[3] == 'bounded-context.html' %}class='current'{% endif %}>Bounded Context</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/command.html" {% if current[3] == 'command.html' %}class='current'{% endif %}>Command</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/command-bus.html" {% if current[3] == 'command-bus.html' %}class='current'{% endif %}>Command Bus</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/command-handler.html" {% if current[3] == 'command-handler.html' %}class='current'{% endif %}>Command Handler</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/command-store.html" {% if current[3] == 'command-store.html' %}class='current'{% endif %}>Command Store</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/event.html" {% if current[3] == 'event.html' %}class='current'{% endif %}>Event</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/event-bus.html" {% if current[3] == 'event-bus.html' %}class='current'{% endif %}>Event Bus</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/event-subscriber.html" {% if current[3] == 'event-subscriber.html' %}class='current'{% endif %}>Event Subscriber</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/event-store.html" {% if current[3] == 'event-store.html' %}class='current'{% endif %}>Event Store</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/identifier.html" {% if current[3] == 'identifier.html' %}class='current'{% endif %}>Identifier</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/process-manager.html" {% if current[3] == 'process-manager.html' %}class='current'{% endif %}>Process Manager</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/projection.html" {% if current[3] == 'projection.html' %}class='current'{% endif %}>Projection</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/rejection.html" {% if current[3] == 'rejection.html' %}class='current'{% endif %}>Rejection</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/repository.html" {% if current[3] == 'repository.html' %}class='current'{% endif %}>Repository</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/snapshot.html" {% if current[3] == 'snapshot.html' %}class='current'{% endif %}>Snapshot</a></li>
    <li><a href="{{ site.baseurl }}/docs/concepts/query-service.html" {% if current[3] == 'query-service.html' %}class='current'{% endif %}>Query Service</a></li>
</ul>