<div class="fullwidth wow fadeIn white-bg contribute-block">
    <section class="container-fluid">
        <div class="col-sm-6 col-sm-push-3 text-center icons-block">
            <a href="#" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="https://github.com/SpineEventEngine/" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa fa-stack-overflow"></i>
            </a>
            <a href="https://twitter.com/SpineEngine" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </section>
</div>

<footer class="fullwidth text-center wow fadeIn dark-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <h2>TeamDev</h2>
                <p>Spine Event Engine is an open source product, created by TeamDev under Apache License, Version&nbsp;2.0</p>
            </div>
        </div>
    </div>
</footer>