<footer class="top-shadow">
  <div class="container">
    <div class="right-links">
      <div class="col-md-4 col-sm-4 col-xs-12 footer-documentation">
        <ul class="toggle footer-nav">
          <p class="right-link-headers">Documentation</p><i class="caret-icon"></i>
          <li><p><a href="{{ site.baseurl }}/docs/">Overview</a></p></li>
          <li><p><a href="{{ site.baseurl }}/docs/quickstart">Quick Start</a></p></li>
          <li><p><a href="{{ site.baseurl }}/docs/guides">Guides</a></p></li>
          <li><p><a href="{{ site.baseurl }}/docs/tutorials">Tutorials</a></p></li>
          <li><p><a href="{{ site.baseurl }}/docs/reference">API Reference</a></p></li>
        </ul>
      </div>
      <hr class="footer-sections" />
      <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
        <ul class="toggle footer-nav">
          <p class="right-link-headers">Resources</p><i class="caret-icon"></i>
          <li><p><a href="{{ site.baseurl }}/about">About</a></p></li>
          <li><p><a href="{{ site.baseurl }}/blog">Blog</a></p></li>
          <li><p><a href="{{ site.baseurl }}/faq">FAQ</a></p></li>
        </ul>
      </div>
      <hr class="footer-sections" />
      <div class="col-md-5 col-sm-5 col-xs-12 footer-community">
        <ul class="toggle footer-nav">
          <p class="right-link-headers">Community</p><i class="caret-icon"></i>
          <li><a href="https://github.com/{{ site.github_username }}/" target="_blank"><p class="icon-github community-links">Github</p></a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><p class="icon-twitter community-links">Twitter</p></a></li>
          <!--<li><a href="https://stackoverflow.com/tags/spine/" target="_blank"><p class="stack-overflow community-links">Stack Overflow</p></a></li>-->
          <!--<li><a href="https://www.youtube.com/channel/abcd" target="_blank"><p class="youtube community-links">YouTube</p></a></li>-->
        </ul>
      </div>
    </div>
    <div class="left-links">
      <img class="footer-logo" src="{{ site.baseurl }}/img/spine-logo-name-white.svg" alt="Spine">
      <p class="description"><span id="copyright"></span> Spine Event Engine</p>
      <p>CQRS/ES framework for modern cloud applications</p>
    </div>
  </div>
</footer>
