<footer class="fullwidth footer-bg">
  <div class="container">

    <div class="pull-left">
      <h2>
        <a class="footer-logo" href="https://www.teamdev.com/" target="_blank">
          <img src="/img/TeamDevLogo-mono-white.png" alt="TeamDev">
        </a>
      </h2>
      <p>Spine Event Engine is an open source product,<br>
        created by TeamDev under Apache License, Version&nbsp;2.0</p>
    </div>

    <div class="pull-right icons-block">
      <!--<h3>Connect with Us</h3>-->
      <a href="#" target="_blank">
        <i class="fa fa-google-plus"></i>
      </a>
      <a href="https://github.com/SpineEventEngine/" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fa fa-stack-overflow"></i>
      </a>
      <a href="https://twitter.com/SpineEngine" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>