<div class="hero">
  <div class="container">
    <img class="logo" src="img/spine-logo-white.svg" alt="Spine Event Engine">
    <h1>Spine Event Engine</h1>
    <h2 class="hero-lead">CQRS/ES framework for modern cloud applications</h2>
    <a href="{{ site.baseurl }}/docs">
      <button class="btn btn-grpc waves-effect btn-hero">GET STARTED</button>
    </a>
    <button class="btn btn-floating waves-effect down-caret" data-target="landing-content"><div class="icon-caret"></div></button>
  </div>
</div>
