<header class="intro">
  <div class="intro-body">
    <div class="col-lg-10 col-lg-push-1">
      <h1 class="brand-heading wow fadeIn" data-wow-duration="3s" data-wow-delay=".2s">
        CQRS/ES Framework for Cloud&nbsp;Applications
      </h1>
      <h2 class="brand-sub-heading wow fadeIn" data-wow-duration="4s" data-wow-delay=".5s">
        Spine helps building scalable applications with Java backend and&nbsp;UI&nbsp;Framework&nbsp;of&nbsp;your&nbsp;choice
      </h2>

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <div>
        <form
          class="form-inline subscribe-form wow fadeIn"
          data-wow-duration="5s" data-wow-delay=".8s"
          action="//spine3.us1.list-manage.com/subscribe/post?u=2f8b9a1e8b1d10bc4565dfd86&amp;id=fc514e30dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="input-group input-group-lg">
            <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Email..." required>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_2f8b9a1e8b1d10bc4565dfd86_fc514e30dc" tabindex="-1" value="">
            </div>

            <div class="clear input-group-btn">
              <input type="submit" value="Get Notified" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white">
            </div>

          </div>
        </form>
      </div>

      <p class="intro-text wow fadeIn" data-wow-duration="5s" data-wow-delay="1s">
        We are Coming Soon! Stay Tuned!
      </p>
    </div>
  </div>
</header>