<div id="main-tabs">
        <div class="row" >
            <section class="container">
                <div class="col-md-11 nofloat center-block landing-row">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Developer</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Project Manager</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home" style="height:1000px">{% include tabs/tab-dev.html %}</div>
                        <div role="tabpanel" class="tab-pane" id="profile">tab-2</div>
                        <div role="tabpanel" class="tab-pane" id="messages">tab-3</div>
                        <div role="tabpanel" class="tab-pane" id="settings">tab-4</div>
                    </div>

                </div>
            </section>>
        </div>
</div>