<!-- Search input to use with Algolia dropdown. -->
<div class="nav-search-container">
    <form class="nav-search">
        <input id="search-field"
               class="search-field"
               type="search"
               placeholder="Search"
               aria-label="Search">
        <div class="mobile-search-panel"></div>
        <i class="far fa-search search-icon"></i>
        <a id="close-mobile-search-panel" class="close-btn">
            <i class="fal fa-times close-icon"></i>
        </a>
    </form>
</div>
