<header id="header"
        {% if page.header_type != null %}class='{{ page.header_type }}'
        {% else %}{%if layout.header_class != null %}class='{{ layout.header_class }}'{% endif %}
        {% endif %} >
    <div class="nav-open-close">
        <div id="nav-icon-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="container-fluid content-holder">
        <div class="nav-main-container">
            <div class="logo">
                <a href="{{ site.baseurl }}/">
                    <img class="nav-logo" src="{{ site.baseurl }}/img/spine-sign-white.svg"
                         alt="Spine Event Engine">
                </a>
            </div>
            <div class="navigation-holder">
                <div class="block-above-scroll-nav"></div>
                {% assign current = page.url | downcase | split: '/' %}
                <nav class="navigation">
                    <ul class="nav-list-wrapper">
                        <li class="nav-item home-item"><a class="nav-item-link" href="{{ site.baseurl }}/"><span>Home</span></a></li>
                        <li class="nav-item"><a href="{{ site.baseurl }}/about/" {% if current[1]=='about' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>About</span></a></li>
                        <li class="nav-item"><a href="{{ site.baseurl }}/docs/" {% if current[1]=='docs' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Docs</span></a>
                            <div {% if current[1]=='docs' %} class='mobile-caret-icon' aria-expanded='true' {% else %} class='mobile-caret-icon collapsed' aria-expanded='false' {% endif %} data-toggle="collapse" data-target="#docListInside" aria-controls="docListInside"></div>
                            <ul {% if current[1]=='docs' %} class='doc-list-inside collapse show' {% else %} class='doc-list-inside collapse' {% endif %} id="docListInside">
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/" {% if page.url=='/docs/index' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Home</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/introduction" {% if current[2]=='introduction' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Introduction</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/quick-start/" {% if current[2]=='quick-start' %}class='nav-item-link current'{% else %} class='nav-item-link' {% endif %}><span>Quick Start</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/guides/validation" {% if current[2]=='guides' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Guides</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/reference/" {% if current[2]=='reference' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>API Reference</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/examples" {% if current[2]=='examples' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Examples</span></a></li>
                                <li class="nav-item doc"><a href="{{ site.baseurl }}/docs/resources/" {% if current[2]=='resources' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>DDD Resources</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{{ site.baseurl }}/release-notes/" {% if current[1]=='release-notes' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Release Notes</span></a></li>
                        <li class="nav-item"><a href="{{ site.baseurl }}/faq/" {% if current[1]=='faq' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>FAQ</span></a></li>
                        <li class="nav-item"><a href="{{ site.baseurl }}/getting-help/" {% if current[1]=='getting-help' %} class='nav-item-link current' {% else %} class='nav-item-link' {% endif %}><span>Getting Help</span></a></li>
                        <li class="nav-item"><a class="nav-item-link github-icon" href="https://github.com/SpineEventEngine" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                    </ul>
                </nav>
            </div>
            {% include nav-search.html %}
        </div>
    </div>
</header>
