<div class="container">
    <div class="row">
        <div class="col-md-11 nofloat center-block">
            <div class="col-xs-12">
                <h1 class="page-headline">{{page.headline}}</h1>
                <div class="row">
                    <div class="col-sm-7">
                        <section class="description-section">
                            <p class="lead"><strong>Spine Event Engine</strong> is a framework for building modern cloud applications.
                                It aims to free developers from creating boilerplate code as much as possible.
                                Our framework is built on top of <a href="https://developers.google.com/protocol-buffers/" target="_blank">
                                    Protocol Buffers</a> and
                                <a href="http://www.grpc.io/" target="_blank">gRPC</a> to make
                                development of microservices much easier.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
