<div class="container">
    <div class="row">
        <div class="col-md-11 nofloat center-block">
            <div class="col-xs-12 page-headline-container">
                <h1 class="page-headline">{{page.headline}}</h1>
                <div class="row">
                    <div class="col-sm-7">
                        <section class="description-section">
                            <p class="lead"><strong>Spine Event Engine</strong> is a framework for
                                building modern cloud applications
                                based on Event-Driven Architecture and CQRS pattern.
                                We want to free developers from writing boilerplate code as much
                                as possible.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
