<div id="redirectScreen" class="redirect-screen">
    <div class="redirect-screen-container d-flex align-items-center">
        <div class="redirect-screen-holder">
            <div class="redirect-loader">
                <img class="animated-spinner"
                     src="{{ site.baseurl }}/img/icons/animated-spinner.svg"
                     alt="Spinner">
                <p>We are redirecting you<br> to the order page</p>
            </div>
            <div class="redirect-error">
                <h2>Sorry, the redirection was interrupted</h2>
                <p>Please try again. If the issue persists, contact us at
                    <a href="mailto:{{ site.data.support.emailDev | encode_email }}">{{ site.data.support.emailDev | html_encode_email }}</a>.</p>
                <div class="btn-back">
                    <a href="#" id="linkBack" class="link-back">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
