$color-selector-width: 32px;
$color-container-size: $color-selector-width;
$color-selector-border-radius: 5px 0 0 5px;
$color-selector-padding: 8px 0;
$color-selector-bg-color: white;
$color-selector-shadow: 0 1px 14px 0 rgba(34, 44, 78, .14);
$circle-size: 10px;
$circle-size-active: 14px;
$transition: all .2s ease-in-out;
$dark-circle-bg: #7F8186;
$dark-circle-bg-hover: #5E6169;
$light-circle-border: 1px solid rgba(0, 0, 0, .26);
$light-circle-border-hover: 1px solid rgba(0, 0, 0, .54);

.color-selector {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 150px;
  background-color: $color-selector-bg-color;
  box-shadow: $color-selector-shadow;
  width: $color-selector-width;
  border-radius: $color-selector-border-radius;
  padding: $color-selector-padding;

  .color-link {
    display: block;
    width: $color-selector-width;
    height: $color-selector-width;
    @include transition($transition);

    &:hover {
      cursor: pointer;

      &.dark {
        &:before {
          background-color: $dark-circle-bg-hover;
        }
      }

      &.light {
        &:before {
          border: $light-circle-border-hover;
        }
      }
    }

    &.active {
      cursor: default;
      &:before {
        width: $circle-size-active;
        height: $circle-size-active;
      }
    }

    // Circle color icons
    &:before {
      content: '';
      position: relative;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      background-color: black;
      @include transition($transition);
    }

    &.dark {
      &:before {
        background-color: $dark-circle-bg;
      }
    }

    &.light {
      &:before {
        background-color: white;
        border: $light-circle-border;
      }
    }
  }
}
