$color-selector-width: 32px;
$color-container-size: $color-selector-width;
$color-selector-border-radius: 5px 0 0 5px;
$color-selector-padding: 8px 0;
$color-selector-bg-color: rgba($footerColor, .54);
$circle-size: 8px;
$circle-size-active: 16px;
$circle-border-active: 1px solid rgba(white, .87);
$circle-border-hover: 2px solid rgba(white, 54);

.color-selector {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 150px;
  background-color: $color-selector-bg-color;
  width: $color-selector-width;
  border-radius: $color-selector-border-radius;
  padding: $color-selector-padding;

  .color {
    display: block;
    width: $color-selector-width;
    height: $color-selector-width;
    @include transition(all .2s ease-in-out);

    &:hover {
      cursor: pointer;
      &:before {
        border: $circle-border-hover;
      }
    }

    &.active {
      &:before {
        width: $circle-size-active;
        height: $circle-size-active;
        border: $circle-border-active;
      }
    }

    // Circle color icons
    &:before {
      content: '';
      position: relative;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      background-color: black;
      @include transition(all .2s ease-in-out);
    }

    &.dark {
      &:before {
        background-color: black;
      }
    }

    &.light {
      &:before {
        background-color: white;
      }
    }
  }
}
