// Common navigation constants
$currentItemCaret: '\025B7  ';

// Documentation Navigation Bar
.nav-mobile-toggle {
  @media (max-width: $phone-xlarge){
    display: none;
  }
}

.doc-nav {
  display: block;
  margin: $spacing--m 0 40px;

  .tab {
    display: inline-block;

    a {
      text-decoration: none;
      display: inline-block;
      margin-right: 16px;
      padding-bottom: 6px;
      color: $gray;
      font-size: .85rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      border-bottom: 1px solid transparent;
      transition: all .2s ease-in;

      &:hover {
        border-bottom: 1px solid $black;
        padding-bottom: 2px;
        color: $black;
      }

      &.current {
        border-bottom: 1px solid $mainBrandColor;
        padding-bottom: 2px;
        color: $mainBrandColor;
        display: inline-block;
        cursor: default;
      }
    }
  }
}

// Documentation Side Navigation
.doc-side-nav {
  background-color: $light-gray;
  border-radius: 4px;
  padding: 24px 8px 40px;
  margin-bottom: 32px;

  @media (max-width: $phone-xlarge) {
    margin-top: 16px;
  }

  .doc-side-nav-title {
    text-decoration: none;
    display: block;
    padding: 0 20px 13px;
    font-size: 13px;
    color: $black;
    font-weight: 700;
    transition: all .25s ease-in-out;
  }

  li {
    display: inline-block;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      padding: 11px 20px;
      font-size: 13px;
      line-height: 18px;
      color: $black;
      font-weight: 400;
      transition: all .25s ease-in-out;

      &.current {
        font-weight: 700;
        color: $mainBrandColor;
        background-color: rgba($white, .8);
        border-radius: 4px;
      }

      &:hover {
        color: $mainBrandColor;
        background-color: rgba($white, .5);
        border-radius: 4px;
      }
    }

  }
}

// Different styling for doc side nav for tutorial page with nested items
.doc-side-nav-tutorial {

  h6 {
    color: $dark-gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .submenu {
    padding: 2px 15px;
  }

  .submenu-link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: $gray;

    &.active:before {
      content: $currentItemCaret;
    }
  }
}
