// Documents side navigation variables
$nav-link-top-level-font-size: 14px;
$nav-link-font-size: 13px;
$nav-link-color: rgba(#000, .54);
$nav-link-color-active: $black;
$nav-link-chevron-border-size: 1px solid rgba(#000, .4);
$nav-link-chevron-border-size-active: 1px solid rgba(#000, .7);
$nav-link-chevron-size: 6px;
$nav-first-level-left-padding: 24px;
$nav-second-level-left-padding: calc(#{$nav-first-level-left-padding} + 16px);
$nav-third-level-left-padding: calc(#{$nav-second-level-left-padding} + 16px);
$sticky-docs-side-nav-width: $sticky-el-width + $nav-first-level-left-padding;

// Navigation on mobile
$nav-holder-padding: 32px 24px 32px 16px;
$nav-title-left-padding: 22px;

// Top navigation
$top-doc-nav-shadow: 0 2px 7px 0 rgba(0, 0, 0, .08);
$top-doc-nav-margin: 20px 0 16px;

.top-doc-nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  -webkit-box-shadow: $top-doc-nav-shadow;
  -moz-box-shadow: $top-doc-nav-shadow;
  -o-box-shadow: $top-doc-nav-shadow;
  box-shadow: $top-doc-nav-shadow;

  @media(max-width: $tablet-large){
    margin-bottom: 24px;
  }

  &.nav-mobile-toggle {
    @media (max-width: $phone-xlarge){
      display: none;
    }
  }
}

.doc-nav {
  display: block;
  margin: $top-doc-nav-margin;

  .tab {
    display: inline-block;

    a {
      text-decoration: none;
      display: inline-block;
      margin-right: 16px;
      padding-bottom: 6px;
      color: $gray;
      font-size: .85rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      border-bottom: 1px solid transparent;
      @include transition(all .2s ease-in-out);
      transition: all .2s ease-in;

      &:hover {
        border-bottom: 1px solid $black;
        padding-bottom: 2px;
        color: $black;
      }

      &.current {
        border-bottom: 1px solid $mainBrandColor;
        padding-bottom: 2px;
        color: $mainBrandColor;
        display: inline-block;
        cursor: default;
      }
    }
  }
}

.doc-side-nav-col {
  @media (min-width: $tablet) {
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
  }

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.docs-side-nav {
  margin-bottom: 40px;
  margin-left: -$nav-first-level-left-padding;
  width: $sticky-docs-side-nav-width;

  @media(max-width: $tablet-large){
    margin: 0;
  }

  .side-nav-link {
    position: relative;
    display: block;
    font-size: $nav-link-top-level-font-size;
    padding: 8px $nav-first-level-left-padding;
    color: $nav-link-color;
    font-weight: 400;
    @include transition(all .3s ease-in-out);

    // Tree title with chevron
    &.tree-title {
      color: $nav-link-color-active;

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        border-right: $nav-link-chevron-border-size-active;
        border-bottom: $nav-link-chevron-border-size-active;
        width: $nav-link-chevron-size;
        height: $nav-link-chevron-size;
        top: 14px;
        left: 8px;
        transform: rotate(45deg);
        @include transition(all .3s ease-in-out);
      }

      &.collapsed {
        color: $nav-link-color;

        &:before {
          border-right: $nav-link-chevron-border-size;
          border-bottom: $nav-link-chevron-border-size;
          top: 15px;
          transform: rotate(-45deg);
        }
      }
    }

    &:hover {
      background-color: rgba(#000, .03);
      text-decoration: none;
      border-radius: 2px;
    }

    &.active {
      color: $nav-link-color-active;
      font-weight: 600;
    }
  }

  .sub-nav {
    .side-nav-link {
      font-size: $nav-link-font-size;
      padding-left: $nav-second-level-left-padding;

      // Tree title with chevron
      &.tree-title {
        &:before {
          left:  calc(#{$nav-first-level-left-padding} - 3px);
        }
      }
    }

    .sub-nav {
      position: relative;

      // Side nav vertical progress bar
      &:before {
        content: '';
        position: absolute;
        background: rgba(#000, .08);
        display: block;
        left: $nav-second-level-left-padding;
        top: 13px;
        bottom: 13px;
        width: 2px;
      }

      .side-nav-link {
        padding-left: $nav-third-level-left-padding;

        &.active {
          &:before {
            content: '';
            position: absolute;
            background: rgba(#000, .6);
            display: block;
            width: 2px;
            height: 20px;
            top: 9px;
            left: $nav-second-level-left-padding;
          }
        }
      }
    }
  }

  .navigation-title-on-mobile {
    display: none;
  }
}

.docs-side-navigation-opened {
  @media(max-width: $tablet){
    overflow: hidden;
  }

  .docs-side-nav-holder {
    display: block;
  }
}

#docs-side-nav-mobile-toggle {
  display: none;

  @media(max-width: $tablet-large){
    display: block;
    padding: 0 15px;
    cursor: pointer;
    color: $mainBrandColor;
    font-size: 15px;
    margin-bottom: 24px;

    i {
      margin-right: 8px;
      font-size: 16px;
    }
  }

  @media (max-width: $phone-xlarge) {
    margin: 24px 0 32px;
  }
}

.docs-side-nav-holder {
  @media(max-width: $tablet-large) {
    z-index: 1001;
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 100vh;
    padding: $nav-holder-padding;
    overflow-x: auto;
    @include transition(all .4s ease-in-out);

    .docs-side-nav {
      .navigation-title-on-mobile {
        display: block;
        margin-bottom: 16px;

        .title {
          margin-left: $nav-title-left-padding;
        }

        .close-btn-wrapper {
          float: right;

          .close-btn {
            display: block;
            margin-top: 6px;
            cursor: pointer;

            .close-icon {
              @include close-icon;
            }

            &:hover {
              .close-icon {
                opacity: .87;
              }
            }
          }
        }
      }
    }
  }
}
