// Common navigation constants
$currentItemCaret: '\025B7  ';

// Documentation Navigation Bar
.nav-mobile-toggle {
  @media (max-width: $phone-xlarge){
    display: none;
  }
}

.doc-nav {
  display: block;
  margin: $spacing--m 0 $spacing--m;
  @media(max-width: $tablet){
    margin-bottom: 24px;
  }

  .tab {
    display: inline-block;

    a {
      text-decoration: none;
      display: inline-block;
      margin-right: 16px;
      padding-bottom: 6px;
      color: $gray;
      font-size: .85rem;
      font-weight: 400;
      letter-spacing: 0.5px;
      border-bottom: 1px solid transparent;
      @include transition(all .2s ease-in-out);
      transition: all .2s ease-in;

      &:hover {
        border-bottom: 1px solid $black;
        padding-bottom: 2px;
        color: $black;
      }

      &.current {
        border-bottom: 1px solid $mainBrandColor;
        padding-bottom: 2px;
        color: $mainBrandColor;
        display: inline-block;
        cursor: default;
      }
    }
  }
}

.doc-side-nav-col {
  @media (min-width: $tablet) {
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
  }

  @media (max-width: $tablet) {
    padding: 0;
  }
}

// Documentation Side Navigation
.doc-side-nav {
  background-color: $light-gray;
  border-radius: 4px;
  padding: 8px 8px 48px;
  margin-bottom: 106px;

  @media (max-width: 767px) {
    margin: 16px 0 0;
    padding-bottom: 24px;
  }

  .doc-side-nav-title {
    display: block;
    padding: 24px 20px 12px;
    font-size: 12px;
    color: rgba($black, .38);
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 13px;
    }
  }

  .doc-side-nav-sub-title {
    display: block;
    padding: 24px 20px 8px;
    font-size: 12px;
    color: rgba($black, .38);
    font-weight: 700;
  }

  li {
    display: inline-block;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      padding: 8px 20px;
      font-size: 13px;
      line-height: 18px;
      color: $black;
      font-weight: 400;
      transition: all .25s ease-in-out;

      @media(max-width: 767px) {
        padding: 16px 20px;
        font-size: 14px;
      }

      &.current {
        font-weight: 700;
        color: $mainBrandColor;
        background-color: rgba($white, .87);
        border-radius: 4px;
      }

      &:hover {
        color: $mainBrandColor;
      }
    }

  }
}

// Different styling for doc side nav for tutorial page with nested items
.doc-side-nav-tutorial {

  h6 {
    color: $dark-gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .submenu {
    padding: 2px 15px;
  }

  .submenu-link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: $gray;

    &.active:before {
      content: $currentItemCaret;
    }
  }
}
