// Footer
footer {
  background-color: $footerColor;
  -webkit-box-shadow: 0 500px 0 500px $footerColor;
  -moz-box-shadow: 0 500px 0 500px $footerColor;
  -o-box-shadow: 0 500px 0 500px $footerColor;
  box-shadow: 0 500px 0 500px $footerColor;
  color: $white;
  overflow: hidden;
  padding: 54px 0 80px;
  position: relative;

  @media (max-width: 767px) {
    padding: 35px 0 100px;

    ul {
      li {
        display: none;
      }

      &.active li {
        display: initial;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 400;
    font-size: 13px;
    padding: 6px 0;
    letter-spacing: .5px;
    line-height: 46px;
    color: rgba($white, .54);
    @include transition(all .3s ease-in-out);
    border-bottom: 1px solid transparent;

    &.privacy-link {
      font-size: 0.8rem;
      padding-bottom: 2px;
      border-bottom-color: rgba($white, .26);
    }

    &:hover {
      color: $white;
      padding-bottom: 2px;
      border-bottom-color: $lightBlueColor;
      text-decoration: none;
    }

    &:focus {
      color: fade-out($white, .1);
    }

    &::after {
      display: none;
    }
  }

  a.external:after {
    display: none;
  }

  .active {
    display: initial;
  }

  .footer-logo {
    width: 120px;
    margin-left: -4px;
    padding: 0 0 10px 0;
    opacity: .62;

    @media (min-width: $tablet) {
      padding: 0 0 20px 0;
    }
  }

  .left-links {
    color: $footerText;
    display: block;
    text-align: left;
    width: 88%;

    @media (min-width: $tablet) {
      position: relative;
      margin: 0 auto;
      text-align: left;
      display: inline-block;
      width: 39%;
    }

    @media (max-width: $phone-small) {
      width: 78%;
    }

    @media (min-width: 1025px) {
      width: 45%;
    }

    p {
      font-weight: 400;
      font-size: .8em;
      color: rgba($white, .54);
      line-height: 1.4rem;
    }

    .description {
      @media (min-width: $tablet) {
        padding-top: 4px;
      }
    }

  }

  .right-links {
    width: 100%;
    margin: 0 0 32px 0;
    float: right;

    & > div {
      padding-bottom: 10px;
    }

    @media (min-width: $tablet) {
      padding: 0 0 0 35px;
      margin: 0 0 8px 0;
    }

    .footer-nav {
      .caret-icon {
        background: url('../img/caret.svg') no-repeat center/cover;
        cursor: pointer;
        position: absolute;
        right: 12px; // Make icon align with hamburger menu
        top: 8px;
        width: 40px;
        height: 40px;
        opacity: .54;
        @include transition(all .3s ease-in-out);

        @media(min-width: $tablet){
          display: none;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
          background-size: contain;
          background-color: fade-out($white, .97);
          border-radius: 50%;
        }
      }

      &.active {
        .caret-icon {
          opacity: 1;
          background-color: fade-out($white, .97);
          border-radius: 50%;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        li:last-child {
          p {
            padding-bottom: 12px;
          }
        }
      }
    }

    .right-link-headers  {
      font-weight: 700;
      font-size: 12px;
      color: $white;
      letter-spacing: 1.2px;
      padding: 15px 0;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
    }

    @media (min-width: $tablet) {
      padding: 0;
      display: inline-block;
      width: 58%;
      vertical-align: top;

      .right-link-headers {
        padding: 6px 0 16px;
        line-height: 1em;
        cursor: default;
      }
    }

    @media (min-width: 1025px) {
      width: 49.5%;
    }
  }

  .footer-sections {
    display: block;
    width: 120%;
    margin: 10px -15px;
    background-color: rgba(234,234,234,0.1);
    color: rgba(234,234,234,0.1);
    border: none;
    height: 1px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .footer-community p {
    padding: 6px 0;
    @include transition(all .3s ease-in-out);

    &.community-links {
      font-weight: 400;
      font-size: 13px;
      letter-spacing: .5px;
      line-height: 46px;
      color: rgba($white, .54);
    }

    &:hover {
      &::before {
        opacity: .76;
      }

      &.community-links {
        color: $white;
        border-bottom: 0 solid $white;
      }
    }

    @media(min-width: 768px) {
      padding: 0;
    }
  }

  @mixin social-icon($image-url) {
    &::before {
      background: url($image-url) no-repeat center/cover;
    }
  }

  [class^="icon-"] {
    &::before {
      content: '';
      display: inline-block;
      width: $icon-size--s;
      height: $icon-size--s;
      vertical-align: middle;
      margin: 0 12px 0 0;
      opacity: .38;
    }
  }

  .icon-github {
    @include social-icon('../img/icon_github.svg');
  }

  .icon-google {
    @include social-icon('../img/icon_google-plus.svg');
  }

  .icon-twitter {
    @include social-icon('../img/icon_twitter.svg');
  }

  .icon-stack-overflow {
    @include social-icon('../img/icon_stack-overflow.svg');
  }

  .icon-youtube {
    @include social-icon('../img/icon_youtube.svg');
  }
}

.top-shadow {
  -webkit-box-shadow: inset 0 7px 30px -7px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 0 7px 30px -7px rgba(0, 0, 0, 0.16);
  -o-box-shadow: inset 0 7px 30px -7px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 7px 30px -7px rgba(0, 0, 0, 0.16);
}
