.loader-container {
  .loader {
    margin: 16px auto 12px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid $mainBrandColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    @include animation(loader-spin, 1.2s, 0s, linear, forwards, $iteration-count: infinite);
  }

  @include keyframes(loader-spin) {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  p {
    text-align: center;
    margin-left: 9px; // Visually makes `Loading...` text in the center
    font-size: 14px;
    color: rgba($textColor, .54);
  }
}
