$docsearch-icon-color: rgba(white, .54);
$docsearch-mobile-breakpoint: 800px;
$docsearch-algolia-mobile: 750px; // Breakpoint when the Algolia modal becomes full page
$docsearch-border-color: #ebedf5;

.nav-search-container {
  padding-top: 13px;
  margin-left: 5px;

  @media (max-width: $docsearch-mobile-breakpoint) {
    margin: 1px 32px 0 auto;
  }
}

button {
  line-height: normal;
}

mark {
  padding: 0;
  background-color: transparent;
}

/* Overrides for the Algolia DocSearch. */
#docsearch {
  .DocSearch-Button {
    background: none;
    margin-left: 0;
    @include transition(all .25s ease-in-out);

    &:hover {
      background: rgba(black, .12);
      box-shadow: none;

      .DocSearch-Search-Icon {
        color: white;
      }
    }
  }

  .DocSearch-Search-Icon {
    color: $docsearch-icon-color;

    @media (max-width: $docsearch-mobile-breakpoint) {
      color: white;
    }
  }

  .DocSearch-Button-Placeholder {
    display: none;
  }

  .DocSearch-Button-Keys {
    display: none;
  }
}

.DocSearch-Container {
  z-index: map_get($z-index, 'search-mobile') !important;

  .DocSearch-SearchBar {
    border-bottom: 1px solid $docsearch-border-color;
    padding: 8px;

    @media (max-width: $docsearch-algolia-mobile) {
      border: none;
    }

    .DocSearch-Form {
      @media (max-width: $docsearch-algolia-mobile) {
        border: 1px solid $docsearch-border-color;
      }
    }

    .DocSearch-Search-Icon {
      width: 18px;
      height: 18px;
    }

    .DocSearch-Input {
      padding-left: 12px;
    }
  }

  // Hides shortcuts
  .DocSearch-Commands {
    display: none;
  }
}
