$search-icon-size: 18px;
$search-icon-left-position: 12px;
$search-field-left-padding: $search-icon-size + $search-icon-left-position + 10px;
$search-icon-color: rgba(white, .54);
$search-placeholder-color: rgba(white, .38);
.nav-search {
  position: relative;
  margin-left: 3px;

  &:hover {
    .search-icon {
      color: white;
    }
  }

  .search-icon {
    position: absolute;
    font-size: $search-icon-size;
    color: $search-icon-color;
    top: 10px;
    left: $search-icon-left-position;
    pointer-events: none;
    z-index: 1;
  }

  .search-field {
    background-color: transparent;
    border: none;
    width: 26px;
    font-size: 15px;
    height: calc(2.25rem + 2px);
    padding: 6px 12px 6px 28px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    @include transition(all .25s ease-in-out);

    &::placeholder {
      color: $search-placeholder-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $search-placeholder-color;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $search-placeholder-color;
    }

    &:focus {
      padding-left: $search-field-left-padding;
      background-color: rgba(11, 52, 99, .26);
      width: 240px;

      @media (max-width: $tablet-large) {
        width: 180px;
      }

      + .search-icon {
        color: $search-icon-color;
      }
    }
  }

  .search-field:focus + .search-icon {
    color: rgba(white, .54);
  }

  // Search inside the navigation panel on mobile.
  @media (max-width: 767px) {
    margin: 16px 22px;

    .search-icon {
      top: 10px;
      font-size: 16px;
    }

    .search-field,
    .search-field:focus {
      width: 100%;
      background-color: rgba(white, .08);
      padding-left: $search-field-left-padding;
      border: 1px solid transparent;
    }

    .search-field {
      &:focus {
        border-color: rgba(white, .4);
      }
    }
  }
}
