// Navigation
.navigation-opened {
  @media(max-width: $tablet){
    overflow: hidden;
  }

  #header {
    .navigation-holder {
      right: 0;
    }
  }
}

#header {
  width: 100%;
  min-height: 64px;
  z-index: 1000;
  position: absolute;

  // Fixed header for small pages such us `Privacy Statement` and `Post`.
  // Usage: add the `header_type: fixed-header` attribute to the front matter block.
  &.fixed-header {
    background-image: $nav-blue-gradient;
    position: fixed;
    height: $header-height;

    &.not-top {
      &.pinned {
        @include translateY(0%);
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
      }

      &.unpinned {
        @include translateY(0%);
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
      }
    }
  }

  .logo {
    a {
      img {
        width: 45px;
        height: 34px;
        margin-top: 15px;
        margin-left: -2px;
        @include transition(all .3s ease-in-out);
      }

      &:hover {
        img {
          opacity: .7;
        }
      }
    }
  }

  .navigation-holder {
    margin-left: auto; // Makes float:right; for the Bootstrap v4

    @media (max-width: 767px) {
      background-color: $footerColor;
      box-shadow: -1px 0px 8px 0px rgba(0,0,0, .25);
      z-index: 1001;
      display: block;
      position: fixed;
      top: 0;
      right: -316px;
      width: 300px;
      height: 100vh;
      padding: 48px 24px;
      overflow-x: auto;
      @include transition(right .4s ease-in-out);

      .block-above-scroll-nav {
        position: fixed;
        width: 100%;
        height: 56px;
        background-color: rgba($footerColor, .95);
        z-index: 1000;
        margin: -48px -24px;
      }
    }
  }

  .navigation {
    margin: 0 -24px 48px;

    @media (min-width: $tablet) {
      float: right;
      margin: 5px 0;
    }

    .nav-list-wrapper {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }

    .nav-item {
      position:relative;
      display: block;
      -webkit-transform: translateZ(0);
      line-height: 22px;
      order: 1;

      @media (min-width: $tablet) {
        display: inline-block;
      }

      &.nav-item-search {
        @media (max-width: 767px) {
          order: 0; // Moves the search item to the top of the list on mobile.
        }
      }

      a {
        text-decoration: none;
        display: inline-block;
        padding: 16px 24px;
        font-size: 16px;
        color: rgba($white, 0.64);
        @include transition(all .2s ease-in-out);
        -webkit-transform: translateZ(0);

        @media (min-width: $tablet) {
          padding: 16px 20px;
          font-size: 15px;
          letter-spacing: 0.5px;
        }

        span {
          @include transition(all .2s ease-in-out);
        }

        &:hover,
        &.current {
          color: rgba($white, 1);
          text-decoration: none;

          span {
            padding-bottom: 4px;
            border-bottom: 1px solid $lightBlueColor;
          }
        }

        &.current {
          font-weight: 500;
        }
      }

      &.doc {
        a {
          font-size: 13px;
          letter-spacing: 1px;
          padding: 10px 0 10px 40px;
        }
      }

      &.home-item {
        @media (min-width: $tablet) {
          display: none;
        }
      }

      .mobile-caret-icon {
        // Initial icon-caret state
        &.collapsed {
          opacity: .54;
          transform: rotate(0);
          background-color: transparent;

          &:hover {
            opacity: 1;
            background-size: contain;
            background-color: fade-out($white, .97);
            border-radius: 50%;
          }
        }
      }

      .github-icon {
        width: 60px; // To avoid jumping while the icon is loading

        &.external {
          &:after {
            display: none;
          }
        }
      }
    }

    .doc-list-inside {
      margin-bottom: 8px;

      @media (min-width:$tablet) {
        display: none;
      }
    }
  }

  &.not-top {
    display: block;
    position: fixed;
    height: $header-height;
    background-image: $nav-blue-gradient;

    &.pinned {
      @include translateY(-100%);
      @include animation(slideDownNav, .4s, .2s, ease-in-out, forwards);
    }

    &.unpinned {
      @include translateY(0%);
      @include animation(slideUpNav, .2s, initial, ease-in-out, forwards);
    }
  }

  @include keyframes(slideDownNav) {
    0%   { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
  }

  @include keyframes(slideUpNav) {
    0%   { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
  }
}

.nav-open-close {
  display: none;
  right: 0;
  margin-top: 16px;
  margin-right: 16px;
  position: absolute;

  @media (max-width: 767px) {
    display: block;
  }

  #nav-icon-menu {
    width: 32px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition(.5s ease-in-out);
    z-index: 9999;
    cursor: pointer;
  }

  #nav-icon-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $white;
    border-radius: 2px;
    opacity: 1;
    left: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition(.25s ease-in-out);
  }

  #nav-icon-menu span:nth-child(1) {
    top: 8px;
  }

  #nav-icon-menu span:nth-child(2),#nav-icon-menu span:nth-child(3) {
    top: 15px;
  }

  #nav-icon-menu span:nth-child(4) {
    top: 22px;
  }

  #nav-icon-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  #nav-icon-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
}

// Page headline and description
.page-headline-container {
  padding-top: 64px;
}

.page-headline {
  font-family: 'Roboto Mono', monospace;
  color: $white;
  font-size: 32px;
  font-weight: 400;
}

.description-section {
  margin: 8px 0 56px;
  position: relative;
  opacity:0;
  -webkit-animation: animateTitle 1.3s forwards;
  -moz-animation: animateTitle 1.3s forwards;
  -o-animation: animateTitle 1.3s forwards;
  animation: animateTitle 1.3s forwards;

  p.lead {
    font-size: $font-size--s;
    line-height: 1.7;
    font-weight: 400;
    color: #99e8ff;

    & strong {
      color: $white;
      font-weight: 700;
    }

    a {
      color: #99e8ff;
      border-bottom: 1px solid rgba(#99e8ff, .54);
      padding-bottom: 2px;
      @include transition(all .25s ease-in-out);

      &:hover {
        text-decoration: none;
        color: $white;
        border-bottom-color: currentColor;
      }
      &.external {
        &:hover {
          &:after {
            color: $white;
            opacity: 1;
          }
        }
      }
    }
  }
}

$search-icon-size: 18px;
$search-icon-left-position: 12px;
$search-field-left-padding: $search-icon-size + $search-icon-left-position + 10px;
$search-placeholder-color: rgba(white, .38);
.nav-search {
  position: relative;

  &:before {
    position: absolute;
    content: '\f002';
    font-family: "Font Awesome 5 Pro";
    font-size: $search-icon-size;
    font-weight: 400;
    color: rgba(white, .54);
    top: 7px;
    left: $search-icon-left-position;
    pointer-events: none;
    z-index: 1;
  }

  .search-field {
    background-color: transparent;
    border: none;
    width: 26px;
    font-size: 15px;
    height: calc(2.25rem + 2px);
    padding: 6px 12px 6px 28px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    @include transition(all .25s ease-in-out);

    &::placeholder {
      color: $search-placeholder-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $search-placeholder-color;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $search-placeholder-color;
    }

    &:focus {
      padding-left: $search-field-left-padding;
      background-color: rgba(11, 52, 99, .26);
      width: 240px;

      @media (max-width: $tablet-large) {
        width: 180px;
      }
    }
  }

  @media (max-width: 767px) {
    margin: 16px 22px;

    &:before {
      font-size: 16px;
    }

    .search-field,
    .search-field:focus {
      width: 100%;
      background-color: rgba(white, .08);
      padding-left: $search-field-left-padding;
    }
  }
}
