$nav-first-level-left-padding: 24px;
$nav-second-level-left-padding: calc(#{$nav-first-level-left-padding} + 16px);
.docs-side-nav {
  &.release-notes-side-nav {
    .tree-title {
      font-size: 15px;
      font-weight: 500;
    }

    .side-nav-link {
      transition: none;
    }

    .sub-nav {
      .side-nav-link {
        padding: 6px $nav-first-level-left-padding;

        @media (max-width: $tablet-large) {
          padding: 12px $nav-second-level-left-padding;
        }
      }
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border-color: rgba(black, .08);
    }
  }
}
