.about {
  .features-section {
    padding: 40px 0 40px;

    @media (max-width: $tablet) {
      padding-top: 32px;
    }

    .section-title {
      text-align: left;
      @media(max-width: $tablet){
        text-align: center;
      }
    }
  }

  .story-section {
    padding-top: 56px;
    position: relative;

    @media(max-width: $tablet){
      padding-top: 32px;
    }

    .read-more {
      padding: 48px 40px;
      background-color: #EDF8FF;
      border-radius: 6px;

      @media(max-width: $tablet){
        padding: 32px 24px;
      }

      p {
        color: #9ab3d6;
      }

      a {
        text-decoration: none;
        font-weight: 500;
        &:hover {
          color: $mainBrandColor;
          padding-bottom: 2px;
          border-bottom: 1px solid rgba($mainBrandColor, .87);
        }
      }
    }

    .link {
      display: inline-block;
      margin-top: 16px;
    }
  }

  .software-section {
    padding-top: 32px;
    padding-bottom: 80px;

    @media(max-width: $tablet){
      padding-top: 24px;
      padding-bottom: 64px;
    }

    .section-title {
      color: rgba($textColor, .54);
      margin: 48px 0 12px;
    }
  }

  .software-link-holder {
    margin-top: 16px;
    .software-link {
      text-decoration: none;
      color: rgba($black, .87);
      font-weight: 700;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba($black, .54);
      @include transition(all .2s easy-in-out);

      &:hover {
        color: $mainBrandColor;
        border-bottom-color: $mainBrandColor;
      }
    }
  }
}
