.about {
  .features-section {
    padding: 40px 0 40px;

    @media (max-width: $tablet) {
      padding-top: 32px;
    }

    .section-title {
      text-align: left;
      @media(max-width: $tablet){
        text-align: center;
      }
    }
  }

  .story-section {
    padding-top: 56px;
    position: relative;

    @media(max-width: $tablet){
      padding-top: 32px;
    }

    .read-more {
      padding: 48px 40px;
      background-color: #EDF8FF;
      border-radius: 6px;

      @media(max-width: $tablet){
        padding: 32px 24px;
      }

      p {
        color: #9ab3d6;
      }

      a {
        text-decoration: none;
        font-weight: 500;
        &:hover {
          color: $mainBrandColor;
          padding-bottom: 2px;
          border-bottom: 1px solid rgba($mainBrandColor, .87);
        }
      }
    }

    .link {
      display: inline-block;
      margin-top: 16px;
    }
  }

  .software-section {
    padding-top: 32px;
    padding-bottom: 108px;
    text-align: center;

    @media(max-width: $tablet) {
      padding-top: 24px;
      padding-bottom: 64px;
    }

    hr {
      margin-bottom: 0;
    }

    .section-title {
      font-size: 2rem;
      color: $black;
      margin: 88px 0 12px;

      @media(max-width: $tablet) {
        margin-top: 64px;
      }
    }

    .logo-card {
      margin: 16px 24px 0 0;
      padding: 0 24px;
      border-radius: 4px;
      text-align: center;
      @include transition(all .25s ease-in-out);

      @media (max-width: $phone-xlarge) {
        width: 46%;
        margin-right: 8px;
        box-shadow: 0 2px 6px rgba(black, .08);
      }

      @media(max-width: $phone-large) {
        width: 100%;
        margin-right: 0;
      }

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .12);
      }

      &.external {
        &:after {
          display: none;
        }
      }

      img {
        height: 64px;
      }
    }
  }

  .software-link-holder {
    margin-top: 16px;
    margin-bottom: 64px;

    .software-link {
      text-decoration: none;
      padding-bottom: 2px;
      @include transition(all .2s easy-in-out);

      &:hover {
        border-bottom: 1px solid $mainBrandColor;
      }
    }
  }
}
