.about {
  .principles-section {
    background-color: $light-gray-blue;
    padding-top: 56px;
    padding-bottom: 40px;
    position: relative;

    @media(max-width: $tablet){
      padding-top: 32px;
    }

    .section-title {
      font-size: $font-size--xl;
    }

    .link {
      display: inline-block;
      margin-top: 16px;
    }

    ol,
    ul {
      margin: 0 0 32px 6px;

      @media (max-width: $tablet) {
        margin-bottom: 24px;
      }

      li {
        line-height: 1.6;
        margin-left: 18px;
        margin-top: .6em;
        padding-left: 6px; // Adds additional space between bullet and text.
        margin-bottom: 12px;

        ol,
        ul {
          margin-bottom: 32px;

          li {
            margin-top: .45em;
          }
        }
      }
    }

    ul {
      list-style: disc;

      li {
        ul {
          list-style: circle;
        }
      }
    }

    ol {
      list-style: decimal;
    }
  }

  .logo-card {
    margin: 16px 24px 0 0;
    padding: 0 24px;
    border-radius: 4px;
    text-align: center;
    @include transition(all .25s ease-in-out);

    @media (max-width: $phone-xlarge) {
      width: 46%;
      margin-right: 8px;
      box-shadow: 0 2px 6px rgba(black, .08);
    }

    @media(max-width: $phone-large) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .12);
    }

    &.external {
      &:after {
        display: none;
      }
    }

    img {
      height: 64px;
    }
  }
  
  .tools-section {
    padding-top: 56px;
    padding-bottom: 64px;
    text-align: center;

    @media(max-width: $tablet) {
      padding-top: 24px;
      padding-bottom: 64px;
    }

    .section-title {
      font-size: 2rem;
      color: $black;
      //margin: 88px 0 12px;
      cursor: default;

      @media(max-width: $tablet) {
        margin-top: 64px;
      }
    }
  }

  .libraries-section {
    padding-top: 56px;
    padding-bottom: 64px;
    text-align: center;
    background-color: #EDF8FF;
    
    p {
      margin: 16px 24px 0 16px;
    }

    .software-link {
      text-decoration: none;
      padding-bottom: 2px;
      @include transition(all .2s easy-in-out);

      &:hover {
        border-bottom: 1px solid $mainBrandColor;
      }
    }
  }

  .clients-section {
    padding-top: 56px;
    padding-bottom: 64px;
    text-align: center;
  }
}
