.blog {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  .blog-container {
    margin-top: 32px;

    .article-container {
      min-height: auto;
      padding: 48px 80px 40px;
      margin-bottom: 16px;

      @media (max-width: $phone-xlarge) {
        padding: 0 0 24px;
        border-bottom: 1px dotted rgba(black, .2);
        margin-bottom: 40px;
      }
    }

    img {
      width: 100%;
    }
  }

  .post-thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .post-title {
    padding: 0;
    margin-bottom: 8px;

    a {
      color: $black;
      font-size: $font-size--xl;
      font-weight: 300;
      line-height: 1.3;
      @include transition(all .2s ease-in-out);

      &:hover {
        text-decoration: none;
        color: $mainBrandColor;
      }
    }
  }

  .post-thumbnail {
    display: inline-block;
    margin: $spacing--s $spacing--xs 0 0;
    vertical-align: top;
  }

  .post-excerpt {
    p {
      font-family: 'PT Serif', serif;
      font-size: $article-font-size;
      line-height: $article-line-height;
    }
  }

  .read-more-btn {
    margin: 40px 0 16px;

    @media (max-width: $phone-xlarge) {
      margin-top: 24px;
    }

    a {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      color: $mainBrandColor;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 11px;
        height: 12px;
        background-image: url('../../img/icons/small-blue-arrow.svg');
        top: 3px;
        margin-left: 6px;
      }

      @media (max-width: $phone-xlarge) {
        font-size: $font-size--xs;

        &:after {
          top: 4px;
        }
      }
    }
  }

  .pagination {
    margin: 32px 8px 48px;

    @media (max-width: $phone-xlarge) {
      margin-left: -8px;
      margin-right: -8px;
    }

    .next,
    .previous {
      display: inline-block;
      line-height: 22px;
      padding: 0;

      &:hover {
        text-decoration: none;

        span {
          padding-bottom: 2px;
          border-bottom: 1px solid $mainBrandColor;
        }
      }
    }

    $arrow-width: 2px;
    .arrow {
      border: solid $mainBrandColor;
      border-width: 0 $arrow-width $arrow-width 0;
      display: inline-block;
      padding: 3px;
      vertical-align: middle;
      margin-top: -2px;

      &.left {
        margin-right: 6px;
        @include transform(rotate(135deg));
      }

      &.right {
        margin-left: 6px;
        @include transform(rotate(-45deg));
      }
    }
  }
}

.post-info {
  font-size: 14px;
  color: rgba(black, .4);
  line-height: 1.6;
  margin-bottom: 16px;

  @media (max-width: $phone-xlarge) {
    margin: 16px 0 8px;
  }

  .post-author {
    color: $textColor;
  }
}

.post {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  .empty-block {
    @media (max-width: $desktop-small) {
      display: none;
    }
  }

  .content-attribution {
    color: $textColor;
    font-size: 15px;
    font-style: italic;
    margin: $spacing--xxxl 0 $spacing--xl;
  }

  h1 {
    margin-bottom: 12px;
  }

  .post-info {
    margin-bottom: 32px;

    @media(max-width: $tablet){
      margin-bottom: 24px;
    }
  }

  .btn-back {
    margin-top: 32px;
  }
}
