.blog {
  .content-part {
    margin-top: 24px;

    @media(max-width: $tablet) {
      margin-top: 0;
    }

    hr:last-of-type {
      display: none;
    }
  }

  .post-thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .post-title {
    margin: 40px 0 8px;

    @media(max-width: $tablet) {
      margin-top: 32px;
    }

    a {
      color: $black;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -.003em;
      @include transition(all .2s ease-in-out);

      &:hover {
        text-decoration: none;
        color: $mainBrandColor;
      }
    }
  }

  .post-date {
    font-size: 13px;
    color: rgba($black, .54);
    margin-bottom: 16px;

    @media(max-width: $phone-xlarge) {
      margin-bottom: 0;
    }
  }

  .post-thumbnail {
    display: inline-block;
    margin: $spacing--s $spacing--xs 0 0;
    vertical-align: top;
  }

  .post-author-company {
    display: inline-block
  }

  .post-author, .post-company {
    color: $gray;
    display: block;
    font-size: 13px;
  }

  .post-author {
    margin-top: $spacing--xl;
  }

  .post-company {
    margin-top: $spacing--xs;

    a:after {
      display: none;
    }
  }


  .post-excerpt {
    h2 {
      font-size: 20px;
      margin-top: $spacing--m;
    }

    h3 {
      font-size: 16px;
      margin-top: $spacing--m;
    }
  }

  .read-more {
    margin: 40px 0 48px;

    @media(max-width: $phone-xlarge) {
      margin: 24px 0 40px;
    }
  }

  .pagination {
    padding-bottom: $spacing--xxl;
    width: 100%;
  }

  @mixin caret($deg) {
    background: url('../../img/icons/caret.svg') no-repeat center/contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin: 0;
    transform: rotate($deg);
    vertical-align: bottom;
    width: 24px;
  }

  .caret-left {
    @include caret(90deg);
  }

  .caret-right {
    @include caret(-90deg);
  }

  .next,
  .previous {
    display: inline-block;
    line-height: 22px;
    padding: 0;
  }

  .next a,
  .previous a {
    &:hover {
      span {
        background: url("../../img/icons/caret-dark.svg") no-repeat center/contain;
      }
    }
  }
}

.post {
  background-color: $body-light-gray-color;

  .post-wrapper {
    padding: 112px 0 64px;

    @media(max-width: $tablet){
      padding: 72px 16px 40px;
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -.003em;
      margin-bottom: 8px;

      @media(max-width: $tablet){
        font-size: 28px;
        margin-bottom: 8px;
      }
    }

    hr {
      margin-bottom: 32px;

      @media(max-width: $tablet){
        margin-bottom: 20px;
      }
    }
  }

  .content-attribution {
    color: $dark-gray;
    font-size: 15px;
    font-style: italic;
    margin: $spacing--xxxl 0 $spacing--xl;
  }

  .postdate {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: rgba($textColor, .54);
    margin-bottom: 32px;

    @media(max-width: $tablet){
      margin-bottom: 24px;
    }
  }

  .btn-back {
    margin-top: 32px;
  }
}
