.blog {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  .blog-container {
    margin-top: 32px;

    .article-container {
      min-height: auto;
      padding: 48px 80px 40px;
      margin-bottom: 16px;

      @media (max-width: $phone-xlarge) {
        padding: 0 0 16px;
        border-bottom: 1px dotted rgba(black, .38);
        margin-bottom: 32px;
      }
    }
  }

  .post-thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .post-title {
    padding: 0;
    margin-bottom: 8px;

    a {
      color: $black;
      font-size: $font-size--xl;
      font-weight: 300;
      line-height: 1.3;
      @include transition(all .2s ease-in-out);

      &:hover {
        text-decoration: none;
        color: $mainBrandColor;
      }
    }
  }

  .post-info {
    font-size: 14px;
    color: rgba(black, .54);
    margin-bottom: 16px;
    
    @media (max-width: $phone-xlarge) {
      margin: 16px 0 8px;
    }

    .post-author {
      color: $black;
    }
  }

  .post-thumbnail {
    display: inline-block;
    margin: $spacing--s $spacing--xs 0 0;
    vertical-align: top;
  }

  .post-author-company {
    display: inline-block
  }

  .post-company {
    margin-top: $spacing--xs;

    a:after {
      display: none;
    }
  }

  .post-excerpt {
    p {
      font-family: 'PT Serif', serif;
      font-size: $article-font-size;
      line-height: $article-line-height;
    }
  }

  .read-more-btn {
    margin: 40px 0 16px;

    @media (max-width: $phone-xlarge) {
      margin-top: 24px;
    }

    a {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      color: $mainBrandColor;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 11px;
        height: 12px;
        background-image: url('../../img/icons/small-blue-arrow.svg');
        top: 2px;
        margin-left: 6px;
      }
    }
  }

  .pagination {
    padding-bottom: $spacing--xxl;
    width: 100%;
  }

  @mixin caret($deg) {
    background: url('../../img/icons/caret.svg') no-repeat center/contain;
    content: '';
    display: inline-block;
    height: 24px;
    margin: 0;
    transform: rotate($deg);
    vertical-align: bottom;
    width: 24px;
  }

  .caret-left {
    @include caret(90deg);
  }

  .caret-right {
    @include caret(-90deg);
  }

  .next,
  .previous {
    display: inline-block;
    line-height: 22px;
    padding: 0;
  }

  .next a,
  .previous a {
    &:hover {
      span {
        background: url("../../img/icons/caret-dark.svg") no-repeat center/contain;
      }
    }
  }
}

.post {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  .post-container {
    margin-top: $page-top-offset;
  }

  .content-attribution {
    color: $dark-gray;
    font-size: 15px;
    font-style: italic;
    margin: $spacing--xxxl 0 $spacing--xl;
  }

  h1 {
    margin-bottom: 12px;
  }

  .postdate {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(black, .54);
    margin-bottom: 32px;

    @media(max-width: $tablet){
      margin-bottom: 24px;
    }
  }

  .btn-back {
    margin-top: 32px;
  }
}
