.docs {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  &.white-bg {
    background-color: white;
  }

  .docs-content {
    margin-top: 24px;

    @media (max-width: $tablet-large) {
      margin-top: 0;
    }
  }

  .doc-header {
    padding-top: 64px;
    padding-bottom: 24px;

    @media (max-width: $phone-xlarge) {
      padding-top: 48px;
    }
  }

  .info-section {
    margin: 0 10px 0;
    @media (max-width: $phone-xlarge){
      margin-top: 16px;
    }
  }


  $card-bottom-space: 24px;
  $card-height: calc(100% - #{$card-bottom-space});

  .feature-card {
    display: block;
    margin-bottom: $card-bottom-space;
    height: $card-height;
    @include box-shadow(0 -1px 1px 0 rgba(black, .07), 0 2px 4px 0 rgba(35, 37, 38, .12));

    &:hover {
      text-decoration: none !important;
      @include box-shadow(0 6px 12px rgba(black, .12));

      header {
        color: $linkColor;
      }
    }

    .card-content-text {
      header {
        margin-bottom: 4px;
        font-weight: 700;
        @include transition(color .23s ease-in-out);
      }

      p {
        margin: 0;
        text-align: left;
        line-height: 1.5;
        font-family: $main-font;
      }
    }
  }
}

#spine-architecture-diagram {
  visibility: hidden;
}

.architecture-link {
  cursor: pointer;
  color: $linkColor;
  border-bottom:1px dotted $linkColor;
}
.architecture-link:hover {
  color: $linkHoverColor;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
