.docs {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  &.white-bg {
    background-color: white;
  }

  .docs-content {
    margin-top: 24px;

    @media (max-width: $tablet-large) {
      margin-top: 0;
    }
  }

  .doc-header {
    padding-top: 64px;
    padding-bottom: 24px;

    @media (max-width: $phone-xlarge) {
      padding-top: 48px;
    }
  }

  .info-section {
    margin: 0 10px 0;
    @media (max-width: $phone-xlarge){
      margin-top: 16px;
    }
  }

  .lang-section-title {
    @media(max-width: $desktop-small) {
      margin-bottom: 16px;
    }
  }

  .lang-card-selector {
    padding: 8px 0 88px;
    width: 100%;

    @media(max-width: $phone-xlarge){
      padding-bottom: 24px;
    }

    &.display-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media(max-width: 1130px) {
        display: block;
      }
    }
  }

  .lang-card {
    margin-bottom: 32px;
    flex: 0 0 30%;
    padding: 24px 24px 32px;
    background-image: linear-gradient(-180deg, $white 0%, #FAFAFA 100%);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .06), 0 1px 2px 0 rgba(0, 0, 0, .05), 0 5px 15px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .06), 0 1px 2px 0 rgba(0, 0, 0, .05), 0 5px 15px 0 rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .06), 0 1px 2px 0 rgba(0, 0, 0, .05), 0 5px 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .06), 0 1px 2px 0 rgba(0, 0, 0, .05), 0 5px 15px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;

    @media (max-width: $desktop-small) {
      flex: 0 0 44%;
    }
    
    .lang-card-title {
      color: $dark-gray;
      margin-bottom: 16px;
      font-size: 1rem;
      font-weight: 700;
    }

    @mixin lang-icon($image-url) {
      &::before {
        background: url($image-url) no-repeat center/cover;
      }
    }

    [class^="icon-"] {
      &::before {
        content: '';
        display: inline-block;
        width: $icon-size--s;
        height: $icon-size--s;
        vertical-align: middle;
        margin: 0 16px 0 0;
      }
    }

    .icon-java {
      @include lang-icon('../img/icons/icon-java.svg');
    }

    .icon-javascript {
      @include lang-icon('../img/icons/icon-js.svg');
    }

    .icon-cpp {
      @include lang-icon('../img/icons/icon-cpp.svg');
    }

    .lang-card-link {
      margin: 0;

      li {
        margin-bottom: 8px;
        margin-left: 0;

        &:before {
          display: none;
        }

        @media (max-width: $phone-xlarge){
          margin-bottom: 14px;
        }

        a {
          text-decoration: none;
          color: $gray;
          font-size: 14px;
          line-height: 1.2;
          @include transition(all .2s ease-in-out);
          padding-bottom: 6px;

          @media (max-width: $phone-xlarge) {
            padding-bottom: 2px;
            border-bottom: 1px solid rgba($gray, .54);
          }

          &:hover {
            color: $black;
            padding-bottom: 2px;
            border-bottom: 1px solid rgba($black, .87);
          }
        }
      }
    }
  }
}

#spine-architecture-diagram {
  visibility: hidden;
}

.architecture-link {
  cursor: pointer;
  color: $linkColor;
  border-bottom:1px dotted $linkColor;
}
.architecture-link:hover {
  color: $linkHoverColor;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
