$content-top-offset: 48px;
$faq-title-padding: 16px 0 16px $icon-right-offset;
$faq-content-padding: 0 $icon-right-offset;
$faq-content-padding-mobile: 0 $icon-right-offset 24px;
$anchor-icon-size: 16px;
$faq-item-divider: 1px dotted #d7d7d7;
$space-for-icon: 32px;

.faq-container {
  margin: $content-top-offset 0 56px;

  @media (max-width: $tablet) {
    margin-top: 24px;
    padding: 0 !important;
  }

  .faq-content {
    // The wrapper is needed to fix Bootstrap bug with item jumping.
    .faq-content-wrapper {
      padding: $faq-content-padding;

      @media (max-width: $tablet) {
        padding: $faq-content-padding-mobile;
      }
    }

    ul {
      li {
        line-height: 1.6;
        margin-bottom: 12px;
      }
    }
  }

  .faq-item {
    @media (max-width: $tablet) {
      border-bottom: $faq-item-divider;
    }

    .faq-heading {
      display: inline-block;
      padding: $faq-title-padding;
      cursor: pointer;
      @extend %expandable-title;

      @media (max-width: $tablet) {
        padding-right: 20px;
      }

      span {
        padding-right: $space-for-icon;
      }
    }

    &:hover {
      .faq-heading {
        color: $black;
      }

      .anchor-link-icon {
        visibility: visible;
      }
    }
  }

  .anchor-link-icon {
    display: inline-block;
    visibility: hidden;
    padding-left: 6px;
    margin-left: -$space-for-icon;
    font-size: $anchor-icon-size;
    color: rgba($black, .38);
    @include transition(all .3s ease-in-out);

    @media (max-width: $phone-large){
      padding-left: 10px;
    }

    &:hover {
      color: $mainBrandColor;
    }
  }
}
