// FAQ page
.faq-container {
  margin-top: 40px;
  padding-bottom: 150px;

  @media(max-width: $tablet){
    padding-bottom: 64px;
  }

  .submenu-content {
    margin: 16px 0 0 40px;
    padding-bottom: 2px; // It fix jumping items

    ul {
      li {
        line-height: 32px;
      }
    }
  }

  .lead,
  .faq-title {
    color: $titleColor;
  }

  .lead {
    margin: 50px 0 40px 0;
  }

  .faq-title {
    margin: 40px 0 0 0;
  }

  .list-unstyled {
    li {
      &:hover {
        h6 {
          color: $black;

          &.arrow-d,
          &.arrow-r {
            &:before {
              @include transition(all .25s ease-in-out);
              opacity: .54;
            }
          }
        }
      }
    }
  }

  h6 {
    font-size: $font-size--s;
    line-height: 1.5;
    color: rgba($black, .54);
    font-weight: 400;
    @include transition(all .25s ease-in-out);
  }

  h6.arrow-d,
  h6.arrow-r {
    margin: 30px 0 5px 0;
    padding-left: 40px;
  }

  h6.arrow-d {
    color: $black;
    font-weight: 500;
  }
}
