:root {
  --pricing-card-side-padding: 32px;

  @media (max-width: $tablet-large) {
    --pricing-card-side-padding: 24px;
  }

  @media (max-width: $phone-large) {
    --pricing-card-side-padding: 16px;
  }
}

.getting-help {
  $divider-color: #c3d1d6;
  $icon-color: #72858c;

  $mobile-card-max-screen-size: $tablet;
  $mobile-card-min-screen-size: $mobile-card-max-screen-size + 1;

  background-color: $body-light-gray-color;

  .section-title {
    font-size: 36px;
    margin-bottom: 4px;
    padding-top: 0;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 780px;
    margin-bottom: 24px;
  }

  .support-section,
  .service-section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $tablet-large) {
      padding-bottom: 24px;
    }
  }

  .support-section {
    h4 {
      margin: 0 0 16px;
      font-size: 20px;
    }

    .support-container {
      padding: 32px;
      background-color: white;
      border-radius: $border-radius-m;
      @include box-shadow(0 2px 16px 0 rgba(black, .08));
      height: 100%;
    }

    .support-get-started,
    .support-resources,
    .support-community {
      @media (max-width: $tablet-large) {
        margin-bottom: 24px;
      }
    }

    .support-resources {
      p {
        margin-bottom: 8px;
      }
    }

    .support-community {
      p {
        margin-bottom: 12px;
      }
    }
  }

  .service-section {
    padding-top: 24px;

    p {
      font-size: $font-size--xs;
      line-height: 1.6;
    }
  }

  $card-border-radius: $border-radius-m;
  .compare-support {
    margin: 20px 0;
    background: white;
    @include box-shadow($feature-card-shadow);

    @media (max-width: $phone-medium) {
      margin: 0 -#{$layout-padding-phone};

      .header {
        border-radius: 0 !important; // The `!important` is needed to declare the property
        // only once for all siblings
      }
    }

    &.compared-on-mobile {
      @media (max-width: $mobile-card-max-screen-size) {
        .header-row,
        .plan-action-row {
          grid-template-columns: repeat(2, 1fr);
        }

        .proposal-row,
        .terms-row {
          display: block;
        }

        .header {
          &:nth-child(2) {
            border-radius: 0 $card-border-radius 0 0;
          }

          &:nth-child(3) {
            display: none;
          }
        }

        .not-compared-items {
          display: none;
        }

        .action-block {
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }

    &.mobile {
      @media (min-width: $mobile-card-min-screen-size) {
        display: none;
      }

      @media (max-width: $mobile-card-max-screen-size) {
        .header-row,
        .proposal-row,
        .terms-row,
        .plan-action-row {
          display: block;
        }

        .header {
          &.proof-of-concept-header {
            background: $nav-blue-gradient;
            border-radius: $card-border-radius $card-border-radius 0 0;
          }
        }

        .action-block {
          padding-bottom: 40px;
        }
      }
    }

    $header-animation: all .6s;

    .header-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: min-content;
      z-index: 1;

      &.sticky {
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: $header-height;

        .header {
          padding-top: 9px;
          margin-bottom: 32px;
          max-height: 40px;

          // Fixes sticky header on mobile devices when the header text in two lines.
          @media (max-width: 552px) {
            max-height: 60px;
          }

          h4 {
            transform: scale(.8);
          }

          .support-subtitle {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }

    .proposal-row,
    .terms-row {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 16px;

      p {
        margin: 0 var(--pricing-card-side-padding);
        padding: 12px 0;
      }
    }

    .plan-action-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: end;
    }

    .header {
      padding: 24px var(--pricing-card-side-padding);
      max-height: 300px;
      @include transition($header-animation);

      &:nth-child(1) {
        background: #5fabdd;
        border-radius: $card-border-radius 0 0 0;
      }

      &:nth-child(2) {
        background: #3498db;
      }

      &:nth-child(3) {
        background: $nav-blue-gradient;
        border-radius: 0 $card-border-radius 0 0;
      }

      h4 {
        color: white;
        padding: 0;
        margin: 0 0 4px;
        font-size: 20px;
        font-weight: 700;
        transform-origin: top left;
        transform: scale(1);
        @include transition($header-animation);
      }

      .support-subtitle {
        color: rgba(white, .7);
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        visibility: visible;
        opacity: 1;
        @include transition($header-animation);
      }
    }

    .compared-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: min-content;

      p {
        border-bottom: 1px dotted $divider-color;
      }

      .empty {
        position: relative;

        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: $gray-200;
        }
      }

      .item-with-icon {
        position: relative;
        margin: 0 var(--pricing-card-side-padding);
        border-bottom: 1px dotted $divider-color;

        i {
          position: absolute;
          font-size: 22px;
          color: $icon-color;
          margin-left: 10px;
          top: 13px;

          &.fa-watch {
            margin-left: 12px;
          }
        }

        p {
          margin: 0;
          padding-left: 48px;
          border-bottom: none;
        }

        @media (max-width: $phone-medium) {
          i {
            font-size: 16px;
            margin-left: 4px;

            &.fa-watch {
              margin-left: 5px;
            }
          }

          p {
            padding-left: 32px;
          }
        }
      }
    }

    .section-divider-row {
      margin: 24px var(--pricing-card-side-padding) 0;
      background-color: $body-light-gray-color;
      border-radius: $border-radius;

      p {
        padding: 8px 0 8px 20px;
        font-weight: bold;
        color: $gray-300;
      }
    }

    .action-block {
      margin: 0 var(--pricing-card-side-padding) 40px;

      .pricing-block {
        margin-top: 48px;

        .price {
          font-size: $font-size--s;
          font-weight: 700;
        }

        .description, .slash {
          color: $gray-500;
          line-height: 1.6;
        }

        @media (max-width: $phone-xlarge) {
          .description {
            display: block;
            margin-top: 3px;
          }

          .slash {
            display: none;
          }
        }
      }

      .pricing-btn {
        margin-top: 24px;
        width: 240px;

        @media (max-width: $tablet-large) {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }

        $light-blue-btn: #69b7e8;
        $light-blue-btn-hover: #5fabdd;
        &.order-btn {
          background: $light-blue-btn;
          border-color: $light-blue-btn;
          color: white;

          &:after {
            opacity: 1;
          }

          &:hover {
            background: $light-blue-btn-hover;
            border-color: $light-blue-btn-hover;

            &:after {
              color: white;
            }
          }
        }
      }
    }

    /*.privacy-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .privacy {
        display: block;
        margin: 12px var(--pricing-card-side-padding) 40px;
        font-size: 13px;
        font-style: italic;
        color: $gray-500;
      }
    }*/
  }
}
