:root {
  --pricing-card-side-padding: 32px;
  --pricing-card-gap-between: 24px;
  --pricing-card-header-side-padding: 24px;

  @media (max-width: $desktop-small) {
    --pricing-card-gap-between: 16px;
    --pricing-card-header-side-padding: 16px;
  }

  @media (max-width: $tablet-large) {
    --pricing-card-side-padding: 24px;
  }

  @media (max-width: $phone-large) {
    --pricing-card-side-padding: 16px;
    --pricing-card-gap-between: 8px;
  }
}

.getting-help {
  $divider-color: #c3d1d6;
  $icon-color: #72858c;
  $card-border-radius: $border-radius-l;
  $card-shadow: 0px 8px 10px 0px rgba(black, .02),
                0px 0px 0px 1px inset rgba(33, 33, 33, .07);

  $mobile-card-max-screen-size: $tablet;
  $mobile-card-min-screen-size: $mobile-card-max-screen-size + 1;

  background-color: $body-light-gray-color;

  .section-title {
    font-size: 36px;
    margin-bottom: 4px;
    padding-top: 0;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 780px;
    margin-bottom: 24px;
  }

  .support-section,
  .service-section {
    padding-top: 40px;

    @media (max-width: $tablet-large) {
      padding-bottom: 24px;
    }
  }

  .support-section {
    padding-bottom: 40px;

    h4 {
      margin: 0 0 16px;
      font-size: 20px;
    }

    .support-container {
      padding: 32px;
      background-color: white;
      border-radius: $card-border-radius;
      @include box-shadow($card-shadow);
      height: 100%;
    }

    .support-get-started,
    .support-resources,
    .support-community {
      @media (max-width: $tablet-large) {
        margin-bottom: 24px;
      }
    }

    .support-resources {
      p {
        margin-bottom: 8px;
      }
    }

    .support-community {
      p {
        margin-bottom: 12px;
      }
    }
  }

  .service-section {
    padding-top: 24px;
    padding-bottom: 12px;

    p {
      font-size: $font-size--xs;
      line-height: 1.6;
    }
  }

  $card-border: 1px solid $article-border-color;
  $empty-line-height-s: 16px;
  $empty-line-height-m: 32px;
  $header-animation: all .6s;

  .compare-support {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 0 var(--pricing-card-gap-between);
    margin: 20px 0;

    @media (max-width: $mobile-card-max-screen-size) {
      grid-template-columns: repeat(2, 1fr);

      .empty-line-s.third-cell,
      .empty-line-m.third-cell,
      .header:nth-child(3),
      .not-compared-items,
      .terms-third-cell,
      .footer-cell.third-cell {
        order: 1;
        grid-column: 1/3;
      }

      .header {
        &:nth-child(3) {
          margin-top: 24px;
        }
      }

      .footer-cell {
        &.third-cell {
          padding-top: 32px;
        }
      }
    }

    @media (max-width: $phone-medium) {
      margin: 0 -#{$layout-padding-phone};
    }

    $header-icon-size: $icon-size--xl;
    .header {
      padding: 16px var(--pricing-card-header-side-padding) 24px;
      max-height: 300px;
      border-radius: $card-border-radius $card-border-radius 0 0;
      background-image: $nav-blue-gradient-light;
      z-index: 1;
      @include transition($header-animation);

      &.sticky {
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: $header-height;
        padding-top: 9px;
        max-height: 40px;

        // Fixes sticky header height on mobile devices when the header text in two lines.
        @media (min-width: $mobile-card-min-screen-size) and (max-width: 943px) {
          max-height: 60px;
        }

        @media (max-width: 534px) {
          max-height: 60px;
        }

        .header-icon {
          &:after {
            @include transform(scale(.68));
            margin-top: -14px;
          }
        }

        .text-container {
          padding-top: 0;
          padding-left: $header-icon-size + 2px;

        }

        h4 {
          @include transform(scale(.8));
        }

        .support-subtitle {
          visibility: hidden;
          opacity: 0;
        }
      }

      .header-icon {
        position: relative;

        @media (max-width: $phone-xlarge) {
          display: none;
        }

        &:after {
          position: absolute;
          content: '';
          width: $header-icon-size;
          height: $header-icon-size;
          @include transition($header-animation);
        }

        @mixin header-icon($image-url) {
          &:after {
            background: url($image-url);
          }
        }

        &.development-support {
          @include header-icon('../../img/icons/getting-help/development-support.svg');
        }

        &.premium-support {
          @include header-icon('../../img/icons/getting-help/premium-support.svg');
        }

        &.proof-of-concept {
          @include header-icon('../../img/icons/getting-help/proof-of-concept.svg');
        }
      }

      .text-container {
        padding-top: 8px;
        padding-left: $header-icon-size + 10px;
        @include transition($header-animation);

        @media (max-width: $phone-xlarge) {
          padding: 0 !important; // `!important` is needed here to override sticky element too.
        }
      }

      h4 {
        color: white;
        padding: 0;
        margin: 0 0 4px;
        font-size: 20px;
        font-weight: 700;
        transform-origin: top left;
        transform: scale(1);
        @include transition($header-animation);
      }

      .support-subtitle {
        color: rgba(white, .7);
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .08px;
        line-height: 1.5;
        visibility: visible;
        opacity: 1;
        @include transition($header-animation);
      }
    }

    .card-cell {
      background: white;
      border-right: $card-border;
      border-left: $card-border;

      &.empty-line-s {
        height: $empty-line-height-s;
      }

      &.empty-line-m {
        height: $empty-line-height-m;
      }

      &.latest {
        min-height: 100%;
      }

      &.footer-cell {
        display: grid;
        border-bottom: $card-border;
        border-radius: 0 0 $card-border-radius $card-border-radius;
      }
    }

    p {
      margin: 0 var(--pricing-card-side-padding);
      padding: 12px 0;
    }

    .compared-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content min-content min-content auto;
      gap: 0 var(--pricing-card-gap-between);
      grid-column: 1/3;

      p {
        height: 100%;
        border-bottom: 1px dotted $divider-color;
      }

      .item-with-icon {
        height: 100%;
        border-bottom: 1px dotted $divider-color;
      }

      .empty-item {
        position: relative;

        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: $gray-200;
        }
      }
    }

    $icon-left-offset: 10px;
    .item-with-icon {
      position: relative;
      margin: 0 var(--pricing-card-side-padding);

      i {
        position: absolute;
        font-size: 22px;
        color: $icon-color;
        margin-left: $icon-left-offset;
        top: 13px;

        &.fa-watch,
        &.fa-clipboard-list {
          margin-left: 12px;
        }

        &.fa-users-class {
          margin-left: 7px;
        }
      }

      p {
        margin: 0;
        padding-left: 48px;
        border-bottom: none;
      }

      @media (max-width: $phone-medium) {
        i {
          font-size: 16px;
          margin-left: 4px;

          &.fa-watch,
          &.fa-clipboard-list {
            margin-left: 5px;
          }

          &.fa-users-class {
            margin-left: 2px;
          }
        }

        p {
          padding-left: 32px;
        }
      }
    }

    .terms-divider {
      background-color: $body-light-gray-color;
      border-radius: $border-radius;
      padding: 8px 0 8px 20px;
      font-weight: bold;
      color: $gray-300;
    }

    .term-cell {
      .empty-item {
        padding-left: 14px;

        @media (max-width: $phone-medium) {
          padding-left: 6px;
        }
      }
    }

    .action-block {
      margin: 0 var(--pricing-card-side-padding) 40px;
      align-self: end;

      .pricing-block {
        margin: 32px 0 0 $icon-left-offset;

        .price {
          font-size: $font-size--s;
          font-weight: 700;
        }

        .description, .slash {
          color: $gray-500;
          line-height: 1.6;
        }

        @media (max-width: $phone-xlarge) {
          .description {
            display: block;
            margin-top: 3px;
          }

          .slash {
            display: none;
          }
        }

        @media (max-width: $phone-medium) {
          margin-left: 0;
        }
      }

      .checkboxes-list {
        margin: 32px 0 0 $icon-left-offset;

        @media (max-width: $phone-medium) {
          margin-left: 0;
        }
      }

      .pricing-btn-holder {
        display: inline-block;
        margin-top: 24px;
        cursor: not-allowed; // For the disabled button
        width: 100%;
      }

      .pricing-btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        $light-blue-btn-hover: #5fabdd;
        &.order-btn {
          background: $mainBrandColor;
          border-color: $mainBrandColor;
          color: white;

          &:after {
            opacity: 1;
          }

          &:hover {
            background: $light-blue-btn-hover;
            border-color: $light-blue-btn-hover;

            &:after {
              color: white;
            }
          }
        }
      }
    }
  }
}

.grecaptcha-badge { visibility: hidden; }
