// Landing page
.landing-content-container {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;

  @media(max-width: $desktop-small) {
    padding-top: 32px;
  }

  .landing-row {
    margin: 32px 0 106px;

    @media(max-width: $desktop-small) {
      margin: 24px 0 40px;
    }

    .col-style {
      padding: 0 56px;
      @media(max-width: $desktop-large) {
        padding: 0 24px;
      }

      @media(max-width: $desktop-small) {
        padding: 0 15px;
      }
    }

    .landing-row-title {
      font-size: 2rem;
      color: $black;
      margin: 8px 0 24px;
      font-weight: 300;
    }

    p {
      font-weight: 400;
      line-height: 1.7rem;
      color: $textColor;
      padding-bottom: 32px;

      &.landing-row-intro {
        text-align: center;
      }
    }

    h5 {
      font-size: $font-size--s;
      font-weight: 700;
      color: $black;
      margin-bottom: 32px;

      &.landing-row-title {
        font-size: 1.8rem;
        color: $black;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 0;
      }

      & strong {
        color: $black;
      }
    }
  }

  .landing-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;
    border-radius: 6px;
    box-shadow: 0 12px 20px 0 rgba($footerColor, .12);

    @media(max-width: $desktop-small){
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .btn-read-more {
    margin: 30px 0 40px;
  }
}

//Documentation call to action
.doc-call-container {
  background-color: $secondBrandColor;
  padding: 80px 0 84px;

  @media(max-width: $phone-xlarge) {
    padding: 64px 0 72px;
  }

  .doc-call-title {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: $white;
  }

  .doc-call-text {
    margin: 0 auto;
    padding-top: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($white, 0.64);
  }

  .btn-doc-call-white {
    margin: 40px auto 0;
  }

  .lang-select-row {
    display: flex;
    justify-content: center;
  }

  .lang-selector-text {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 75%;
  }
}

//Main tabs
#main-tabs {
  margin-top: 48px;

  .tabs-shadow {
    background-color: $white;
    position: relative;
    padding: 12px 0;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      height: 8px;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.16);
      z-index: -1;
    }
  }

  .nav-tabs {
    border-color: transparent;
    text-align: center;

    @media (max-width: $tablet) {
      padding: 0 24px;
    }

    li {
      margin-left: -7px;
      float: none;
      display: inline-block;

      @media (max-width: $phone-xlarge) {
        margin: 0 0 8px;
        width: 100%;
      }

      a {
        border: 1px solid $tabsGrayColor;
        border-radius: 0;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .2px;
        color: rgba($black, .38);
        padding: 12px 40px 13px;
        line-height: 1;
        transition: all .25s ease-in-out;

        @media (max-width: $tablet) {
          padding: 12px 20px 13px;
        }

        &:hover {
          color: $mainBrandColor;
          background-color: transparent;
        }
      }

      &:first-child {
        a {
          border-radius: 1.5rem 0 0 1.5rem;
          border-left: 1px solid $tabsGrayColor;

          @media (max-width: $phone-xlarge) {
            border-radius: 2px;
            padding: 12px 32px 13px;
          }
        }
      }

      &:last-child {
        a {
          border-radius: 0 1.5rem 1.5rem 0;

          @media (max-width: $phone-xlarge) {
            border-radius: 2px;
            padding: 12px 32px 13px;
          }
        }
      }

      &.active {
        a{
          color: $mainBrandColor;
          background-color: rgba($mainBrandColor, .04);
          border: 1px solid #BFE4F8;
          cursor: default;
          transition: all .2s ease-in-out;
        }
      }
    }
  }

  .tab-content {
    margin-top: 64px;
  }
}
