// Landing page
.landing-content-container {
  padding-bottom: 60px;
  padding-top: 30px;
  position: relative;

  @media (min-width: 767px) {
    padding-bottom: 90px;
    padding-top: 24px;
  }

  .row:nth-child(even){
    background: $chip-bg-color;
  }

  .landing-row {
    padding-top: 60px;

    .landing-row-title {
      margin-bottom: 32px;
      text-align: center;
    }

    p {
      font-weight: 400;
      line-height: 1.7rem;
      color: $textColor;

      &.landing-row-intro {
        text-align: center;
      }
    }

    h5 {
      font-size: $font-size--s;
      font-weight: 600;
      color: $black;
      margin-bottom: 32px;

      &.landing-row-title {
        font-size: 1.8rem;
        color: $black;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 0;
      }

      & strong {
        color: $black;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      text-align: center;

      .landing-row-title {
        margin: 0 auto 30px;
        order: 1;
      }

      .landing-image {
        margin: 0 auto 30px;
        order: 2;
      }

      p {
        margin: 0 auto;
        order: 3;
      }

      div {
        margin: 0 auto;
        order: 4;
      }
    }
  }

  .landing-image {
    height: auto;
    max-width: 300px;
    object-fit: contain;
    object-position: top;

    @media (min-width: $tablet) {
      max-width: initial;
      padding-bottom: 60px;
    }
  }

  .btn-read-more {
    margin: 30px 0 40px;
  }
}

//Documentation call to action
.doc-call-container {
  background-color: $secondBrandColor;
  padding-bottom: 70px;
  padding-top: 70px;

  .doc-call-title {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: $white;
  }

  .doc-call-text {
    margin: 0 auto;
    padding-top: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($white, 0.64);
  }

  .btn-doc-call-white {
    margin: 40px auto 0;
  }

  .lang-select-row {
    display: flex;
    justify-content: center;
  }

  .lang-selector-text {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 75%;
  }
}

//Main tabs
#main-tabs {

  margin-top: 48px;

  .tabs-shadow {
    background-color: $white;
    position: relative;
    padding: 12px 0;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      height: 8px;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.16);
      z-index: -1;
    }
  }

  .nav-tabs {
    border-color: transparent;
    text-align: center;

    li {
      margin: 0 -3px;
      float: none;
      display: inline-block;
    }

    li a {
      font-weight: 600;
      font-size: 13px;
      letter-spacing: .2px;
      text-transform: uppercase;
      color: rgba($black, .38);
      padding: 12px 32px 13px;
      transition: all .25s ease-in-out;

      &:hover {
        color: $mainBrandColor;
        background-color: transparent;
        border-color: transparent;
      }
    }

    li.active {
      & a,
      & a:hover,
      & a:focus {
        color: $mainBrandColor;
        background-color: rgba($mainBrandColor, .04);
        border: 1px solid #BFE4F8;
        border-radius: 2px;
        cursor: default;
        transition: all .2s ease-in-out;
      }
    }

    @media (max-width: 732px) {
      padding: 0 24px;

      li a {
        padding: 8px 18px 9px;
      }
    }

    @media (max-width: 568px) {
      li {
        margin: 0 -3px 8px;
        width: 100%;

        & a {
          border: 1px solid rgba($black, .12);
          border-radius: 2px;

          &:hover {
            color: $mainBrandColor;
            border: 1px solid rgba($black, .12);
          }
        }
      }
    }
  }

  .tab-content {
    margin-top: 64px;

    @media (max-width: 767px) {
      text-align: left;
      padding: 0 30px;
    }
  }
}