// Landing page
.landing-content-container {
  padding-bottom: 60px;
  padding-top: 30px;
  position: relative;

  @media (min-width: 767px) {
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .row:nth-child(even){
    background: $chip-bg-color;
  }

  .landing-row {
    padding-top: 60px;

    .landing-row-title {
      margin-bottom: 15px;
    }

    p {
      font-weight: 400;
      line-height: 1.7rem;
      color: $black;
      margin-bottom: 32px;
    }

    h5 {
      font-size: $font-size--s;
      font-weight: 600;
      color: $black;
      margin-bottom: 32px;
    }

    //Move this to overrides page after approve
    code {
      color: $codeColor;
      background-color: $codeBkColor;
      font-size: 14px;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      //padding: 2px 8px;
    }

    pre, pre.prettyprint {
      background-color: $codeBkColor;
      box-shadow: 0 10px 20px 0 rgba($footerColor,0.12);
      color: #000000;
      border: none !important;
      font-size: 14px !important;
      padding: 24px 32px !important;
    }

    pre code {
      white-space: pre;

      @media print {
        white-space: pre-wrap;
      }
    }

    .highlight {
      position: relative;
    }

    .icon-copy-code {
      background: url('../img/copy-code.svg') no-repeat center/cover;
      position: absolute;
      cursor: pointer;
      right: 16px;
      top: 12px;
      width: 32px;
      height: 32px;
      opacity: .26;
      transition: all .24s ease-in-out;

      &:hover,
      &:focus {
        opacity: .4;
        background-color: fade-out($black, .87);
        border-radius: 50%;
      }
    }
    //Close

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      text-align: center;

      .landing-row-title {
        margin: 0 auto 30px;
        order: 1;
      }

      .landing-image {
        margin: 0 auto 30px;
        order: 2;
      }

      p {
        margin: 0 auto;
        order: 3;
      }

      div {
        margin: 0 auto;
        order: 4;
      }
    }
  }

  .landing-image {
    height: auto;
    max-width: 300px;
    object-fit: contain;
    object-position: top;

    @media (min-width: $tablet) {
      max-width: initial;
      padding-bottom: 60px;
    }
  }

  .btn-read-more {
    margin: 30px 0 40px;
  }
}

//Documentation call to action
.doc-call-container {
  background-color: $secondBrandColor;
  padding-bottom: 70px;
  padding-top: 70px;

  .doc-call-title {
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: $white;
  }

  .doc-call-text {
    margin: 0 auto;
    padding-top: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($white, 0.64);
  }

  .btn-doc-call-white {
    margin: 40px auto 0;
  }

  .lang-select-row {
    display: flex;
    justify-content: center;
  }

  .lang-selector-text {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 75%;
  }
}

//Main tabs
#main-tabs {
  .nav-tabs {
    border: 1px solid rgba($mainBrandColor, .2);
    border-radius: 4px;

    li {
      margin: -1px;
    }

    li a {
      margin-right: 1px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $mainBrandColor;
      padding: 16px 40px 17px;
      transition: all .2s ease-in-out;

      &:hover {
        color: $secondBrandColor;
        //background-color: rgba($mainBrandColor, .03);
        background-color: transparent;
        border-color: transparent;
      }
    }

    li.active {
      & a,
      & a:hover,
      & a:focus {
        margin-right: 0.6px;
        color: $mainBrandColor;
        background-color: rgba($mainBrandColor, .04);
        //border: 1px solid rgba($mainBrandColor, .2);
        border: 1px solid #BFE4F8;
        border-radius: 4px;
        cursor: default;
        transition: all .18s ease-in-out;
      }
    }
  }

  .tab-content {
    margin-top: 64px;
  }
}