$panel-padding: 16px 56px;
$open-panel-padding: 8px 56px 24px;
$open-panel-padding-mobile: 0 0 24px;
$inner-content-offset: 56px;
$inner-content-offset-mobile: 40px;
$panel-border-radius: $border-radius-m;
$panel-active-color: rgba($mainBrandColor, .09);
$panel-hover-color: rgba($mainBrandColor, .04);

.licenses-list {
  margin: 40px 0 64px;

  @media (max-width: $tablet) {
    margin: 24px 0 40px;
  }

  @media (max-width: $phone-medium) {
    padding-left: 0;
    padding-right: 0;
  }

  @include list();
}

.licenses {
  .page-description {
    margin-bottom: 24px;

    @media (max-width: $phone-medium) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .collapsible-panel-title {
    display: block;
    padding: $panel-padding;
    border-bottom-color: $dividerColor; // Fixes border blinking
    border-style: none;
    border-radius: $panel-border-radius $panel-border-radius 0 0;
    background-color: $panel-active-color;
    @include transition(all .25s ease-in-out);
    text-decoration: none;

    &.collapsed {
      border-bottom: $divider;
      background-color: transparent;
      &:hover {
        background-color: $panel-hover-color;
      }
    }

    &:hover {
      color: $black;
      &:before {
        opacity: .54;
      }
    }

    @extend %expandable-title;
  }

  .license-content {
    min-height: 164px;
    padding: $open-panel-padding;
    border-bottom: $divider;

    @media (max-width: $tablet) {
      padding: $open-panel-padding-mobile;
    }
  }

  .dependencies-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 24px;
    color: $black;
    line-height: 1.5;

    @media (max-width: $tablet) {
      padding-left: 20px;
      margin-bottom: 16px;
    }
  }

  .collapse-link {
    margin: 0;
    padding: 8px $inner-content-offset;
    font-size: 16px;
    cursor: pointer;
    border-radius: $panel-border-radius;
    background-color: $panel-active-color;
    @include transition(all .25s ease-in-out);
    @extend %expandable-title;

    &.collapsed {
      background-color: transparent;
      &:hover {
        background-color: $panel-hover-color;
      }
    }

    &:hover {
      color: $black;
      &:before {
        opacity: .54;
      }
    }
  }

  .dependencies-container,
  .report-info {
    padding: 16px $inner-content-offset 8px; // Top and bottom paddings prevent content jumping
    margin: 0 0 8px;

    @media (max-width: $tablet) {
      padding: 0 20px;

      li {
        ul {
          margin-left: 0;
        }
      }

      a {
        white-space: normal;
        word-break: break-word;
      }
    }
  }

  .loader-container {
    margin-top: 32px;
  }
}
