$panel-padding: 16px 56px;

.licenses-container {
  margin-top: 40px;
}

.licenses {
  .collapsible-panel-title {
    display: block;
    padding: $panel-padding;
    border-bottom: none;
    border-radius: 4px 0;
    background-color: rgba($mainBrandColor, .06);
    @include transition(all .25s ease-in-out);

    &.collapsed {
      border-bottom: $divider;
      background-color: transparent;
    }

    @extend %expandable-title;
  }

  .license-content {
    min-height: 164px;
    padding: $panel-padding;
    border-bottom: $divider;
  }

  .dependencies-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    color: $textColor;
  }

  .collapse-link {
    margin: 0;
    padding: 8px 64px;
    font-size: 16px;
    cursor: pointer;
    @include transition(all .25s ease-in-out);
    @extend %expandable-title;
    background-color: rgba($mainBrandColor, .1);
    border-radius: 4px 0;

    &.collapsed {
      background-color: transparent;
    }

    &:hover {
      color: $black;
      &:before {
        opacity: .54;
      }
    }
  }

  .dependencies-container {
    padding: 16px 64px 8px;
    margin: 0;
  }
}
