.privacy-statements {
  background-color: $body-light-gray-color;

  @media (max-width: $phone-xlarge) {
    background-color: white;
  }

  .privacy-container {
    margin-top: $page-top-offset;
  }
}
