{{ define "main" }}
    {{ partial "components/navbar/navbar.html" . }}
    {{ partial "components/nav-hero.html" . }}
    <div class="container-fluid content-holder blog-container">
        <div class="row">
            <div class="col-lg">
                {{ partial "blog/post-board.html" . }}
            </div>
            <div class="col-lg toc-col sticky-col">
                <div class="set-max-height">
                    <div class="interactive-toc">
                        {{ .TableOfContents }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "components/go-top-button.html" . }}
{{ end }}
