---
layout: default
group: 'navigation'
title: Blog
bodyclass: blog
headline: 'Spine Blog'
---
<div class="container-fluid content-holder blog-container">
    <div class="row">
        <div class="col-lg">
            {% for post in paginator.posts %}
                <div class="article-container">
                    <h1 id="{{ post.title | slugify }}" class="post-title">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h1>
                    <div class="post-info">
                        {% if post.author %}
                            <span class="post-author">{{ post.author}}</span>
                            <span>on</span>
                        {% endif %}
                        <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
                    </div>
                    {% if post.thumbnail %}
                    <div class="post-thumbnail" style="background-image: url({{post.thumbnail}})"></div>
                    {% endif %}
                    <div class="post-author-company">
                        {% if post.company %}
                        <div class="post-company">
                            <a href={{post.company-link}} target="_blank">
                                {{ post.company}}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="post-excerpt">
                        {{ post.excerpt }}
                    </div>
                    <div class="read-more-btn">
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
                    </div>
                </div>
            {% endfor %}
            <div class="row pagination">
                {% if paginator.previous_page %}
                    <div class="col-6">
                        <a class="previous" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
                            <i class="arrow left"></i>
                            <span>Newer</span>
                        </a>
                    </div>
                {% else %}
                    <span class="col-6"></span>
                {% endif %}
                {% if paginator.next_page %}
                    <div class="col-6 text-right">
                        <a class="next" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
                            <span>Older</span>
                            <i class="arrow right"></i>
                        </a>
                    </div>
                {% else %}
                    <span class="col-6"></span>
                {% endif %}
            </div>
        </div>

        <div class="col-lg toc-col">
            <div class="toc sticky-element">
                <p class="blog-toc-header">Blog posts:</p>
                <ul>
                    {% for post in site.posts %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<a onclick="topFunction()" id="go-top-btn" title="Go to Top"><span>Top</span></a>
