{{ define "main" }}
    <script>
        (function () {
            if (window.sessionStorage.getItem('showCheckoutNotFound') === 'true') {
                window.sessionStorage.removeItem('showCheckoutNotFound');
                window.sessionStorage.removeItem('checkoutProductId');
                return;
            }

            var path = window.location.pathname || '';
            var match = path.match(/^\/checkout\/([^/?#]+)\/?$/);

            if (!match) {
                return;
            }

            var productId = decodeURIComponent(match[1]);

            window.sessionStorage.setItem('checkoutProductId', productId);
            window.location.replace('/checkout/');
        })();
    </script>
    {{ partial "components/navbar/navbar.html" . }}
    <section>
        <div class="container-fluid content-holder content-with-fixed-header">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="article-container article-text">
                        <h1>404</h1>
                        <p>The page you are looking for could not be found.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "components/go-top-button.html" . }}
{{ end }}
