---
title: docs
layout: default
bodyclass: docs
---

{% include doc-nav.html %}

{% assign current = page.url | downcase | split: '/' %}
      {% if current[1] == 'docs' and page.sidenav != null %}
          <div class="container-fluid content-holder docs-content">
            <div class="row">
                <div id="docs-side-nav-toggle">Contents</div>
                <div class="col-12 col-md-3 docs-side-nav-holder">
                    {% include {{page.sidenav}} %}
                </div>
                <div class="col-12 col-md-6 mr-auto {{ page.type }}">
                  {{ content }}
                </div>
                <div class="col-md toc-col">
                    <div id="toc" class="toc"></div>
                </div>
            </div>
          </div>
      {% else %}
          {% if page.type == 'markdown' %}
              <div class="container-fluid content-holder docs-content {{ page.type }}">
                <div class="row">
                    <div class="col-md-7">
                        {{ content }}
                    </div>
                </div>
              </div>
          {% else %}
              {{ content }}
          {% endif %}
      {% endif %}

<a onclick="topFunction()" id="go-top-btn" title="Go to Top"><span>Top</span></a>
