---
title: docs
layout: default
bodyclass: docs
---

<div class="container-fluid content-holder docs-content">
    <div class="row">
        <div id="docs-side-nav-mobile-toggle">
            <i class="fas fa-list-ul"></i>
            <span>Contents</span>
        </div>
        <div class="col-12 col-lg side-nav-col docs-side-nav-holder">
            {% include doc-side-nav.html %}
        </div>
        <div class="col-12 col-lg article-container markdown">
            <div class="content-container">
                {{ content }}
            </div>
            <div class="bottom-nav">
                {% include doc-next-prev-nav.html %}
            </div>
        </div>
        <div class="col-lg toc-col">
            <div id="toc" class="toc sticky-element"></div>
        </div>
    </div>
</div>

<a onclick="topFunction()" id="go-top-btn" title="Go to Top"><span>Top</span></a>

{% include snackbar.html %}
