---
layout: default
bodyclass: docs
---

<div class="container-fluid content-holder docs-content">
    <div class="row">
        <div id="docs-side-nav-mobile-toggle">
            <i class="fas fa-list-ul"></i>
            <span>Contents</span>
        </div>
        <div class="col-12 col-lg side-nav-col docs-side-nav-holder">
            {% if page.sidenav != null %}
                {% include {{ page.sidenav }} %}
            {% endif %}
        </div>
        <div class="col-12 col-lg release-notes-content-col">
            <div class="article-container markdown">
                {% if page.date != null %}
                    <p class="date">Posted on {{ page.date | date: '%B %d, %Y' }}</p>
                {% endif %}
                {{ content }}
            </div>
            <div class="subscribe-container">
                <i class="fab fa-twitter follow-icon"></i>
                <p class="follow-text">
                    Subscribe to
                    <a href="https://twitter.com/{{site.twitter_username}}">@SpineEngine</a>
                    on&nbsp;Twitter to&nbsp;get notified of the framework updates.</p>
            </div>
        </div>
        <div class="col-lg toc-col">
            <nav id="toc" class="toc sticky-element"></nav>
        </div>
    </div>
</div>

<a onclick="topFunction()" id="go-top-btn" title="Go to Top"><span>Top</span></a>

{% include snackbar.html %}
