// Shared
.vpad {
  padding-top: $vpad;
}

.page-title-bar {
  background-color: $thirdBrandColor;
  border-top: 3px solid $lightPopBrandColor;
  padding-top: 20px;
  padding-bottom: 30px;

  .fa {
    color: $popBrandColor;
  }
}

.page-spacer {
  height: 100px;
}

.section {
  padding: 50px 0;
  position: relative;
}

.section-divider {
  border-bottom: 2px solid #e3e3e3;
  margin: 0;
  width: 100%;
}

.toc {
  padding: 0 0 0 12px;
  position: relative;
  overflow: auto;
  min-width: 240px;

  &.blog-toc {
    margin: 48px 0 24px 0;
  }

  &.sticky {
    position:fixed;
    margin-top: -120px;
  }

  &.hide-block {
    display: none !important;
  }

  @media (max-width: 1024px) {
    display: none !important;
  }

  .blog-toc-header {
    margin-bottom: 8px;
  }

  >ul>li>a {
    display: block;
    line-height: 1.4;
    margin-bottom: 18px;
  }

  ul {
    list-style-type: none !important;
    padding-left: 9px;
    font-size: 12px;

    li {
      line-height: 1.4;
      margin-bottom: 18px;

      &.active {
         a {
           color: $mainBrandColor;
         }
       }
    }

    a {
      color: rgba($black, .54);
      font-weight: 500;
      padding: 0;
      letter-spacing: 0.05px;
      &:hover {
        color:$black;
        background: none;
      }
    }
  }
}

.toc.mobile-toc {
  display: none !important;

  @media (max-width: 768px) {
    margin-top: 30px;
    display: block !important;
    border-left: 4px solid $light-gray;
  }
}

// Tables are table-y
table,
th,
td {
  border: 1px solid lighten($textColor, 20%);
  padding: 6px
}

table {
  border-collapse: collapse;
}

th {
  background-color: $thirdBrandColor;
}

.info-section {
  margin: 32px 0 48px;
  padding: 24px 32px;
  background-color: $light-gray;
  border-radius: 4px;

  @media(max-width: $tablet){
    margin: 24px 0 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($textColor, .7);

    &.lead {
      color: $textColor;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}

//Use when a lot of information with title
.info-section-with-shadow {
  margin: 32px 0 40px;
  padding: 24px 32px;
  background-image: linear-gradient(-180deg, $white 0%, #FAFAFA 100%);
  box-shadow: 0 4px 8px 0 rgba($footerColor, .12), 0 -1px 2px 0 rgba($footerColor, .05);
  border-radius: 4px;

  @media(max-width: $tablet){
    margin: 24px 0 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($textColor, .7);

    &.lead {
      color: $textColor;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}
