// Layout
.content-holder {
  max-width: 1260px;
  @media(max-width: $desktop-medium){
    padding-right: 40px;
    padding-left: 40px;
  }

  @media(max-width: $tablet){
    padding-right: 32px;
    padding-left: 32px;
  }

  @media(max-width: $phone-medium){
    padding-right: 15px;
    padding-left: 15px;
  }
}

// Sections
.intro-section {
  padding-top: 40px;
  padding-bottom: 48px;
  @media (max-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// Collapsible caret-icon in the mobile navigation and footer
.mobile-caret-icon {
  background: fade-out($white, .97) url('../img/icons/caret.svg') no-repeat center/cover;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px; // Make icon align with hamburger menu
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  border-radius: 50%;
  @include transition(all .3s ease-in-out);

  @media(min-width: $tablet){
    display: none;
  }
}

// Shared
.vpad {
  padding-top: $vpad;
}

.page-title-bar {
  background-color: $thirdBrandColor;
  border-top: 3px solid $lightPopBrandColor;
  padding-top: 20px;
  padding-bottom: 30px;

  .fa {
    color: $popBrandColor;
  }
}

.page-spacer {
  height: 100px;
}

.section {
  padding: 50px 0;
  position: relative;
}

.section-divider {
  border-bottom: 2px solid #e3e3e3;
  margin: 0;
  width: 100%;
}

.toc-col,
.side-nav-col {
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
}

.toc-col {
  @media (max-width: $desktop-small) {
    display: none;
  }
}

.sticky-element {
  @media (min-width: $tablet-large) {
    padding: 0;
    position: relative;
    overflow: auto;
    max-height: 80%;
    -webkit-transform: translateZ(0); // Fixes jumping while scrolling

    &.sticky {
      position: fixed;
    }
  }
}

.toc {
  width: $sticky-el-width;
  padding-top: 12px;

  &.blog-toc {
    margin: 40px 0 24px;
  }

  &.hide-block {
    display: none !important;
  }

  @media (max-width: 1024px) {
    display: none !important;
  }

  .blog-toc-header {
    margin-bottom: 16px;
    padding-left: 12px;
    font-size: 12px;
    color: rgba($black, .38);
    font-weight: 500;
    text-transform: uppercase;
  }

  >ul>li>a {
    display: block;
    line-height: 1.4;
    margin-bottom: 18px;
  }

  ul {
    list-style-type: none !important;
    padding-left: 12px;
    font-size: 12px;

    li {
      line-height: 1.4;
      margin-bottom: 18px;

      &.active {
         a,
         a:not([href]):not([tabindex]) { // Override Bootstrap v4 default value
           color: $mainBrandColor;
         }
       }
    }

    a,
    a:not([href]):not([tabindex]) { // Override Bootstrap v4 default value
      color: rgba($black, .54);
      font-weight: 500;
      padding: 0;
      letter-spacing: 0.2px;
      &:hover {
        color:$black;
        background: none;
        text-decoration: none;
      }
    }
  }
}

.toc.mobile-toc {
  display: none !important;

  @media (max-width: 768px) {
    margin-top: 30px;
    display: block !important;
    border-left: 4px solid $light-gray;
  }
}

// Tables are table-y
table,
th,
td {
  border: 1px solid lighten($textColor, 20%);
  padding: 6px
}

table {
  border-collapse: collapse;
}

th {
  background-color: $thirdBrandColor;
}

.info-section {
  margin: 32px 0 48px;
  padding: 24px 32px;
  background-color: $light-gray;
  border-radius: 4px;

  @media(max-width: $tablet){
    margin: 24px 0 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($textColor, .7);

    &.lead {
      color: $dark-gray;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}

//Use when a lot of information with title
.info-section-with-shadow {
  margin: 32px 0 40px;
  padding: 24px 32px;
  background-image: linear-gradient(-180deg, $white 0%, #FAFAFA 100%);
  -webkit-box-shadow: 0 4px 8px 0 rgba($footerColor, .12), 0 -1px 2px 0 rgba($footerColor, .05);
  -moz-box-shadow: 0 4px 8px 0 rgba($footerColor, .12), 0 -1px 2px 0 rgba($footerColor, .05);
  -o-box-shadow: 0 4px 8px 0 rgba($footerColor, .12), 0 -1px 2px 0 rgba($footerColor, .05);
  box-shadow: 0 4px 8px 0 rgba($footerColor, .12), 0 -1px 2px 0 rgba($footerColor, .05);
  border-radius: 4px;

  @media(max-width: $tablet){
    margin: 24px 0 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($textColor, .7);

    &.lead {
      color: $textColor;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}

// Expandable title with caret icon before
%expandable-title {
  font-size: $font-size--s;
  line-height: 1.5;
  color: $black;
  font-weight: 500;
  @include transition(all .25s ease-in-out);

  &:before {
    content: '';
    position: absolute;
    background: url('../img/icons/icon-caret-right.svg') no-repeat center/cover;
    width: $icon-size--s;
    height: $icon-size--s;
    margin-left: -40px;
    opacity: .54;
    transform: rotate(90deg);
    @include transition(all .3s ease-in-out);
  }

  // Initial state of the title
  &.collapsed {
    color: rgba($black, .54);
    font-weight: 400;

    &:before {
      opacity: .2;
      transform: rotate(0);
    }
  }
}

$tooltip-color: $footerColor;
$tooltip-padding: .25rem .65rem;

// Overrides Bootstrap tooltip styles
.tooltip {
  font-size: 12px;
  .arrow {
    &:before {
      border-left-color: $tooltip-color;
    }
  }

  &.show {
    opacity: .87;
  }

  .tooltip-inner {
    background-color: $tooltip-color;
    padding: $tooltip-padding;
  }
}
