#spine-architecture-diagram {
  visibility: hidden;
}

.architecture-link {
  cursor: pointer;
  color: $linkColor;
  border-bottom:1px dotted $linkColor;
}
.architecture-link:hover {
  color: $linkHoverColor;
}
