// Layout

$layout-padding-medium: 40px;
$layout-padding-tablet: 32px;
$layout-padding-phone: 20px;

.content-holder {
  max-width: 1260px;
  @media(max-width: $desktop-medium) {
    padding-right: $layout-padding-medium;
    padding-left: $layout-padding-medium;
  }

  @media(max-width: $tablet) {
    padding-right: $layout-padding-tablet;
    padding-left: $layout-padding-tablet;
  }

  @media(max-width: $phone-medium) {
    padding-right: $layout-padding-phone;
    padding-left: $layout-padding-phone;
  }
}
