.markdown {
  padding-bottom: 60px;
  min-height: 460px;

  @media(max-width: $tablet){
    padding-top: 32px;
  }
  
  // Text Blocks
  p {
    margin-bottom: 14px;
  }

  //Coming soon section
  p.coming-soon {
    color: rgba($black, .26);
    font-weight: 500;
    padding-bottom: 24px;
    margin: 0;
  }
  
  em { 
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  // List Items
  li {
    line-height: 24px;
  }

  ol,
  ul {
    list-style: none;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 24px 20px;

    li {
      position: relative;
      margin-left: 18px;
      margin-bottom: 6px;
    }

    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  ul {
    li {
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 5px;
        height: 5px;
        left: -18px;
        top: 10px;
        border-radius: 50%;
        background: #C3CBD7;
      }
    }
  }
  
  ol {
    list-style: decimal;
    li {
      padding-left: 10px;
    }
  }

  h1 {
    color: $black;
    margin-bottom: 24px;
    margin-top: 16px;
    line-height: 1.2;
  }

  // Section Headlines 
  h2 {
    font-size: $font-size--l;
    padding-top: 40px;
    margin-bottom: 16px;

    &.top {
      padding-top: 8px;
    }
  }

  // Section Headlines 
  h3 {
    color: $black;
    font-size: 1.375rem;
    font-weight: 500;
    padding-top: 22px;
    margin-bottom: 16px;
  }

  // Section Subheadlines
  h4 {
    margin: 40px 0 8px;
    font-size: $font-size--xs;
    font-weight: 600;
    color: $black;
    
    // Text immediately following h4 should have same level of indention  
    + p {
      margin: 10px 0;

      @media (max-width: $tablet) {
        margin: 5px 0;
      }
    }
  }

  pre {
    margin: 0;

    @media (max-width: $tablet) {
      margin: 5px 0;
    }
  }

   //Lead Text Block
  .lead {
    margin: 0 0 30px;
    color: $textColor;
    font-size: 16px;
    font-weight: 500;
  }

  .highlight {
    margin-bottom: 24px;
  }
}
