.markdown {
  p.coming-soon {
    color: rgba($black, .26);
    font-weight: 500;
    padding-bottom: 24px;
    margin: 0;
  }

  p + ul {
    margin-top: -2px;
  }

  h1, h2, h3, h2 {
    code {
      font-size: inherit;
      color: inherit;
    }
  }

  h1 + h2 {
    padding-top: 0;
  }

  h2 + div + h3 {
    padding-top: 0;
  }

  em {
    font-style: italic;
  }

  img {
    width: 100%;
  }

  // List Items
  li {
    line-height: 24px;

    ul {
      margin-top: 10px;
    }
  }

  ol,
  ul {
    list-style: none;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 24px 6px;

    li {
      position: relative;
      margin-left: 18px;
      margin-bottom: 6px;
      font-size: 1rem;
    }
  }

  ul {
    li {
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 5px;
        height: 5px;
        left: -18px;
        top: 10px;
        border-radius: 50%;
        background: #C3CBD7;
      }
    }
  }

  ol {
    list-style: decimal;
    li {
      padding-left: 10px;
      margin-bottom: 10px;

      ul {
        li {
          padding-left: 0;
        }
      }
    }
  }

  // Section Headlines
  h2 {
    padding-top: 32px;
    font-size: 1.875rem;
    margin-bottom: 24px;

    &.top {
      padding-top: 8px;
    }
  }

  pre {
    margin: 0;

    @media (max-width: $tablet) {
      margin: 5px 0;
    }
  }

  // Lead Text Block
  .lead {
    font-size: 18px;
    font-weight: 300;
  }

  .highlight {
    margin: 8px 0 24px;
  }
}
