$article-line-height: 1.74;

.markdown {
  p, ol, ul {
    font-family: 'PT Serif', serif;
    font-size: $article-font-size;
    line-height: $article-line-height;
    text-align: justify;

    @media (max-width: $tablet) {
      font-size: $font-size--s;
    }
  }

  p.coming-soon {
    color: rgba($black, .26);
    font-weight: 500;
    padding-bottom: 24px;
    margin: 0;
  }

  p + ul {
    margin-top: -4px;
  }

  h1, h2, h3, h2 {
    code {
      font-size: inherit;
      color: inherit;
    }
  }

  h1 + h2 {
    padding-top: 0;
  }

  // `div` is an invisible element that is created by Anchor JS library.
  h2 + div + h3 {
    padding-top: 4px;
  }

  em {
    font-style: italic;
  }

  img {
    width: 100%;
  }

  ol,
  ul {
    margin: 0 0 32px 6px;

    li {
      margin-left: 18px;
      margin-top: .6em;
      padding-left: 6px; // Adds additional space between bullet and text.

      ol,
      ul {
        margin-bottom: 32px;

        li {
          margin-top: .45em;
        }
      }
    }
  }

  ul {
    list-style: disc;

    li {
      ul {
        list-style: circle;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  // Section Headlines
  h1 {
    font-size: $font-size--xxxl;
    font-weight: 300;
    color: rgba(black, .4);
    line-height: 1.2;
    margin-bottom: 32px;
  }

  h2 {
    padding-top: 32px;
    font-size: 1.8rem;
    margin-bottom: 12px;
    font-weight: 700;

    &.top {
      padding-top: 8px;
    }
  }

  pre {
    margin: 0;

    @media (max-width: $tablet) {
      margin: 5px 0;
    }
  }

  // Lead Text Block
  .lead {
    font-size: 18px;
    font-weight: 300;
  }

  .highlight {
    margin: 8px 0 24px;
  }
}
