
// Override Bootstrap defaults
body {
  color: $textColor;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $mainBrandColor;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

a:hover,
a:focus {
  color: $linkHoverColor;
  text-decoration: underline;
}

a:focus {text-decoration: none;}

a.external {
  white-space: nowrap;
  &:after {
    content: '\2192';
    font-weight: 300;
    width: 8px;
    height: 8px;
    overflow: hidden;
    text-align: right;
    line-height: 6px;
    text-indent: -11px;
    opacity: .6;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: opacity .16s ease-in;
    transition: opacity .16s ease-in;
    vertical-align: super;
    font-size: smaller;
    text-decoration: none;
    display: inline-block;
  }

  &:hover {
    &:after {
      color: $secondBrandColor;
    }
  }
}

a.disabled {
    color: #CCCCCC;
}

li {line-height: 22px;}

p.note {
  background-color: $thirdBrandColor;
  padding: 9.5px;
}

p.note code {
  background-color: $thirdBrandColor !important;
}

.inverse {
  background-color: $mainBrandColor;
  color: white;

  &.inverse-light {
      background-color: $thirdBrandColor;
  }

  a {
    color: $inverseBrandColor;
  }

  a:hover,
  a:focus {
    color: $linkHoverColor;
  }
}

.nofloat {
  float: none;
}

.lead {
  color: $titleColor;
}

// Fix Bootstrap mobile menu colors on inverse navbar.
.navbar-toggle .icon-bar {
  background-color: $inverseBrandColor;
}

//Code styles
code {
  color: rgba(0, 0, 0, .87);
  background-color: #E8EBEF;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  padding: 1px 6px 2px;
}

pre, pre.prettyprint {
  background-color: $codeBkColor;
  box-shadow: 0 10px 20px 0 rgba($footerColor, .12);
  border: none !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 24px 32px !important;
}

pre code {
  white-space: pre;

  @media print {
    white-space: pre-wrap;
  }
}

.highlight {
  position: relative;
  margin: 8px 0 40px;
}

.icon-copy-code {
  background: url('../img/copy-code.svg') no-repeat center/cover;
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: .26;
  transition: all .24s ease-in-out;

  &:hover,
  &:focus {
    opacity: .4;
    background-color: fade-out($black, .87);
    border-radius: 50%;
    outline: none;
  }
}
